.customerList .active .panel-heading {
    background-color: #5b89db;
    border-color: #5b89db;
}
.customerList .active .panel {
    border-color: #5b89db;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}