<wm-page data-ng-controller="LicensesNewPageController" pagetitle="PO Customers" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow9_1">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn10_1">
                        <wm-icon name="icon1" iconclass="fa fa-key fa-2x"></wm-icon>
                        <wm-label caption="Issue New License" class="h2" margintop="0.5" marginleft="0.5" marginunit="em" name="label6_2"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="8" name="gridcolumn11"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8_1">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn8">
                        <wm-search placeholder="Search for Customer" displaylabel="name" datafield="name" searchkey="name" dataset="bind:Variables.customers.dataSet" name="search1"></wm-search>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="8" name="gridcolumn9"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                        <wm-livelist listclass="list-group" name="customerList" itemsperrow="6" selectfirstitem="true" readonlygrid="true" dataset="bind:Variables.LicensemanagerdbCustomerData1.dataSet" class="customerList" navigation="Advanced">
                            <wm-listtemplate layout="panel" name="listtemplate2">
                                <wm-panel class="panel-default truncate" data-template-ctr="true" showheader="true" name="panel3" title="bind:Variables.LicensemanagerdbCustomerData1.dataSet.data[$i].name" horizontalalign="center" fontweight="bold" margintop="1"
                                marginleft="1" marginright="1" marginbottom="1" marginunit="em" cursor="pointer">
                                    <wm-layoutgrid name="layoutgrid2" columns="1">
                                        <wm-gridrow name="gridrow6">
                                            <wm-gridcolumn colwidth="12" name="gridcolumn13_1" horizontalalign="center">
                                                <wm-picture name="picture1" width="100%" picturesource="bind:&quot;services/licensemanagerdb/Customer/&quot; + item.customerId + &quot;/content/logo&quot;"></wm-picture>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow7">
                                            <wm-gridcolumn colwidth="12" name="gridcolumn14_1" horizontalalign="center">
                                                <wm-label name="label2" caption="bind:Variables.LicensemanagerdbCustomerData1.dataSet.data[$i].address" marginunit="em" margintop="0.1"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow8">
                                            <wm-gridcolumn colwidth="12" name="gridcolumn15">
                                                <wm-anchor name="anchor1" caption="bind:Variables.LicensemanagerdbCustomerData1.dataSet.data[$i].website" width="80%" class="truncate"></wm-anchor>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-panel>
                            </wm-listtemplate>
                        </wm-livelist>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7_2">
                        <wm-label name="label4" caption="Invoices for" class="h4" marginleft="1" marginunit="em"></wm-label>
                        <wm-label name="label6" paddingleft="0.5" paddingunit="em" caption="bind:Widgets.customerList.selecteditem.name" class="h4" fontweight="bold"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn name="gridcolumn10" columnwidth="12">
                        <wm-livelist name="livelist3" listclass="list-group" itemsperrow="6" dataset="bind:Variables.get_associated_invoices.dataSet" marginunit="em" itemclass="list-group-item" pagesize="6" navigation="None" class="customerList" selectfirstitem="true">
                            <wm-listtemplate name="listtemplate3" layout="blank">
                                <wm-container name="container2_1" cursor="pointer">
                                    <wm-label name="label6_1" width="100%" caption="bind:Variables.get_associated_invoices.dataSet[$i].invoiceId" fontsize="1.2" fontunit="em" fontweight="bold" cursor="pointer" class="truncate" hint="bind:Variables.get_associated_invoices.dataSet[$i].invoiceId"></wm-label>
                                    <wm-label name="label7" caption="bind:Variables.get_associated_invoices.dataSet[$i].createdDate | toDate: 'dd MMM yyyy'" cursor="pointer"></wm-label>
                                </wm-container>
                            </wm-listtemplate>
                        </wm-livelist>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow6_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7_1">
                        <wm-livegrid name="PolineItemLivegrid2" service="licensemanagerdb@PolineItem">
                            <wm-grid deleterow="false" updaterow="false" insertrow="false" gridfirstrowselect="false" readonlygrid="true" name="grid2" dataset="bind:Variables.get_details_for_license_gen.dataSet" showheader="true" nodatamessage="bind:'No PO Line Items Found for PO'+Widgets.livelist2_1.selecteditem.poNumber"
                            loadingdatamsg="Getting PO Line Items..... Please Wait" radioselect="false" multiselect="true" pagesize="4" height="auto" spacing="normal">
                                <wm-grid-column binding="customername" caption="Customer Name" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false" is-related-pk="false"
                                pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="skucode" caption="SKU Code" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="description" caption="Description" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="startdate" caption="Start Date" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" datepattern="dd MMM yyyy" formatpattern="toDate"
                                disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="duration" caption="Duration" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="quantity" caption="Quantity" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="totaldev" caption="Developers" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="totalhits" caption="Endpoints" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="totalnodes" caption="Nodes" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="productid" caption="Product ID" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                            </wm-grid>
                        </wm-livegrid>
                        <wm-button class="btn-info" caption="Generate License" type="button" on-click="button4Click($event, $scope)" disabled="bind:Widgets.grid2.selecteditem.length===0? true : false" name="button4" marginbottom="1" marginunit="em" iconclass="fa fa-key"></wm-button>
                        <wm-anchor show="false" caption="bind:&quot;Click Here to Download the License File for Invoice:&quot;+ Widgets.livelist3.selecteditem.invoiceId" marginleft="3" marginunit="em" fontsize="15" name="download"></wm-anchor>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>