<wm-partial data-ng-controller="topnavPageController" name="topnav" type="top-nav">
    <wm-navbar name="navbar1">
        <wm-nav name="leftTopLinks" type="navbar" class="navbar-left">
            <wm-nav-item name="list_home">
                <wm-anchor caption="Home" name="homeButton" iconclass="glyphicon glyphicon-home" on-click="goToPage_Main"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="nav_item9"></wm-nav-item>
            <wm-nav-item name="nav_item6"></wm-nav-item>
            <wm-nav-item name="nav_item7"></wm-nav-item>
            <wm-nav-item name="nav_item7_1"></wm-nav-item>
        </wm-nav>
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right">
            <wm-nav-item name="list_home">
                <wm-anchor caption="Help" name="helpButton" iconclass="glyphicon glyphicon-question-sign"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_services">
                <wm-anchor caption="Logout" name="logoutButton" iconclass="glyphicon glyphicon-user" on-click="logoutVariable"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
    </wm-navbar>
</wm-partial>