<wm-page data-ng-controller="CodesPageController" pagetitle="Codes" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid1" columns="1">
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn colwidth="12" name="gridcolumn10">
                        <wm-tabs name="tabs1">
                            <wm-tabpane name="tabpane1">
                                <wm-tabheader name="tabheader1" heading="Offering Codes"></wm-tabheader>
                                <wm-tabcontent name="tabcontent1">
                                    <wm-livegrid formlayout="dialog" name="livegrid1" service="licensemanagerdb@OfferingCodes">
                                        <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="Offering Codes List" dataset="bind:Variables.LicensemanagerdbOfferingCodesData.dataSet" name="grid1"
                                        showrecordcount="true" height="auto">
                                            <wm-grid-column binding="id" caption="Id" type="integer" backgroundcolor="" textcolor="" primary-key="true" generator="identity" readonly="true" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                            is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                            <wm-grid-column binding="code" caption="Code" type="integer" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                            is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="subject" caption="Subject" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-action key="addNewRow" display-name="New" iconclass="glyphicon glyphicon-plus" show="true" class="btn-primary" action="addNewRow()"></wm-grid-action>
                                        </wm-grid>
                                        <wm-liveform novalidate="false" title="OfferingCodes INFO" formlayout="dialog" dataset="bind:Variables.LicensemanagerdbOfferingCodesData.dataSet" captionalign="left" captionposition="left" name="liveform1" defaultmode="Edit">
                                            <wm-layoutgrid name="layoutgrid2">
                                                <wm-gridrow name="gridrow13">
                                                    <wm-gridcolumn columnwidth="12" show="hide" name="gridcolumn19"></wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn20">
                                                        <wm-form-field name="code" displayname="Code" show="true" primary-key="false" generator="assigned" key="code" type="integer" is-related="false" required="required" pc-display="true" mobile-display="true"
                                                        widget="number" inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow14">
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn21">
                                                        <wm-form-field name="subject" displayname="Subject" show="true" primary-key="false" generator="assigned" key="subject" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                                        widget="text" maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                            <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" is-related="false" required="required" pc-display="true" mobile-display="true" widget="number"
                                            inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="glyphicon glyphicon-save" type="submit" update-mode="true"></wm-form-action>
                                        </wm-liveform>
                                    </wm-livegrid>
                                </wm-tabcontent>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane2">
                                <wm-tabheader name="tabheader2" heading="Product Codes"></wm-tabheader>
                                <wm-tabcontent name="tabcontent2">
                                    <wm-livegrid formlayout="dialog" name="livegrid2" service="licensemanagerdb@ProductCodes">
                                        <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="Product Codes List" dataset="bind:Variables.LicensemanagerdbProductCodesData.dataSet" name="grid2" showrecordcount="true"
                                        height="auto">
                                            <wm-grid-column binding="id" caption="Id" type="integer" backgroundcolor="" textcolor="" primary-key="true" generator="identity" readonly="true" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                            is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                            <wm-grid-column binding="code" caption="Code" type="integer" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                            is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="subjectDetail" caption="Subject Detail" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="subject" caption="Subject" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-action key="addNewRow" display-name="New" iconclass="glyphicon glyphicon-plus" show="true" class="btn-primary" action="addNewRow()"></wm-grid-action>
                                        </wm-grid>
                                        <wm-liveform novalidate="false" title="ProductCodes INFO" formlayout="dialog" dataset="bind:Variables.LicensemanagerdbProductCodesData.dataSet" captionalign="left" captionposition="left" name="liveform2">
                                            <wm-layoutgrid name="layoutgrid3">
                                                <wm-gridrow name="gridrow16">
                                                    <wm-gridcolumn columnwidth="12" show="hide" name="gridcolumn22"></wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn23">
                                                        <wm-form-field name="code" displayname="Code" show="true" primary-key="false" generator="assigned" key="code" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"
                                                        inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow17">
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn24">
                                                        <wm-form-field name="subjectDetail" displayname="Subject Detail" show="true" primary-key="false" generator="assigned" key="subjectDetail" type="string" is-related="false" pc-display="true" mobile-display="true"
                                                        widget="text" maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow18">
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn25">
                                                        <wm-form-field name="subject" displayname="Subject" show="true" primary-key="false" generator="assigned" key="subject" type="string" is-related="false" pc-display="true" mobile-display="true" widget="select"
                                                        maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value" dataset="General,Product,Sales,Professional Services,Legal"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                            <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" is-related="false" required="required" pc-display="true" mobile-display="true" widget="number"
                                            inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="glyphicon glyphicon-save" type="submit" update-mode="true"></wm-form-action>
                                        </wm-liveform>
                                    </wm-livegrid>
                                </wm-tabcontent>
                            </wm-tabpane>
                        </wm-tabs>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn colwidth="12" name="gridcolumn11"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow6">
                    <wm-gridcolumn colwidth="12" name="gridcolumn12"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn colwidth="12" name="gridcolumn13"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn colwidth="12" name="gridcolumn14"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn colwidth="12" name="gridcolumn15"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow10">
                    <wm-gridcolumn colwidth="12" name="gridcolumn16"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow11">
                    <wm-gridcolumn colwidth="12" name="gridcolumn17"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12">
                    <wm-gridcolumn colwidth="12" name="gridcolumn18"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>