<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="left-panel">
    <wm-nav name="leftnavigation" type="pills" layout="stacked">
        <wm-nav-item name="list_latestUpdate">
            <wm-anchor caption="Customers" name="dashboardButton" iconclass="fa fa-users" on-click="goToPage_Customers" accessroles="sales,admin"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_inTheNews">
            <wm-anchor caption="Products" name="porderButton" iconclass="fa fa-cubes" on-click="goToPage_ProductsNew" accessroles="admin,sales" tabindex="1"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item3">
            <wm-anchor name="anchor3" iconclass="fa fa-truck" caption="Purchase Orders" on-click="goToPage_PO_customers" accessroles="sales,admin" tabindex="2"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item6">
            <wm-anchor name="anchor5" iconclass="fa fa-credit-card" caption="Invoices" on-click="goToPage_New_Invoices" accessroles="finance,sales,admin" tabindex="3"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item7">
            <wm-anchor name="anchor6" iconclass="fa fa-key" caption="Issue License" on-click="goToPage_LicensesNew" accessroles="finance,admin" tabindex="4"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item7_1">
            <wm-anchor name="anchor6_1" iconclass="fa fa-history" caption="License History" on-click="goToPage_GeneratedLicense" tabindex="5"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item8">
            <wm-anchor name="anchor8" iconclass="fa fa-shield" caption="SKU Codes" on-click="goToPage_New_SKU" tabindex="6"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item8_1">
            <wm-anchor iconclass="fa fa-book" caption="Manage Codes" on-click="goToPage_Codes" tabindex="7" name="anchor9"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>