<wm-page data-ng-controller="Create_InvoicePageController" pagetitle="Create Invoice" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid3" columns="1">
                <wm-gridrow name="gridrow20">
                    <wm-gridcolumn colwidth="12" name="gridcolumn26">
                        <wm-livegrid name="CustomerInvoicesLivegrid1" service="licensemanagerdb@CustomerInvoices" formlayout="dialog">
                            <wm-grid shownavigation="true" gridsearch="true" showrecordcount="true" deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" name="CustomerInvoicesGrid1" title="Customer Invoices" dataset="bind:Variables.LicensemanagerdbCustomerInvoicesData.dataSet"
                            height="auto" showheader="true" nodatamessage="No Invoices Found.">
                                <wm-grid-column binding="invoiceId" caption="Invoice Id" type="string" backgroundcolor="" textcolor="" primary-key="true" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="createdBy" caption="Created By" type="string" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="createdDate" caption="Created Date" type="date" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd"
                                datepattern="yyyy-MM-dd" formatpattern="toDate" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="invoiceFile" caption="Invoice File" type="blob" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"><a ng-if="columnValue != null" class="col-md-9" target="_blank" data-ng-href="{{contentBaseUrl + row[primaryKey] + '/content/'+ colDef.field}}"><i class="wm-icon wm-icon24 glyphicon glyphicon-file"></i></a>
                                </wm-grid-column>
                                <wm-grid-column binding="customer.name" caption="Customer Name" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="true"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="po.poNumber" caption="Po Number" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="true" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-action key="addNewRow" display-name="Add New Invoice" show="true" class="btn-success" iconclass="glyphicon glyphicon-plus" action="addNewRow()"></wm-grid-action>
                            </wm-grid>
                            <wm-liveform novalidate="false" title="Details" name="CustomerInvoicesLiveform1" dataset="bind:Variables.LicensemanagerdbCustomerInvoicesData.dataSet" formlayout="dialog" on-beforeservicecall="CustomerInvoicesLiveform1Beforeservicecall($event, $operation, $data)">
                                <wm-layoutgrid name="layoutgrid1">
                                    <wm-gridrow name="gridrow1">
                                        <wm-gridcolumn show="show" name="gridcolumn1" columnwidth="12">
                                            <wm-form-field name="invoiceId" displayname="Invoice Id" show="true" primary-key="true" generator="assigned" key="invoiceId" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                            widget="text" maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow2">
                                        <wm-gridcolumn show="show" name="gridcolumn2" columnwidth="12">
                                            <wm-form-field name="customer" displayname="Customer" show="true" primary-key="false" generator="assigned" key="customer" type="list" is-related="true" required="required" pc-display="true" mobile-display="true"
                                            widget="select" defaultvalue="0" on-change="customerChange($event, $scope)" regexp=".*" placeholder="Select value" displayvalue="name"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow3">
                                        <wm-gridcolumn show="show" name="gridcolumn3" columnwidth="12">
                                            <wm-form-field name="po" displayname="Po" show="true" primary-key="false" generator="assigned" key="po" type="list" is-related="true" required="required" pc-display="true" mobile-display="true" widget="select" maxchars="100"
                                            regexp=".*" placeholder="Select value" datafield="All Fields" displayfield="poNumber" dataset="bind:Variables.findAssociatedPOs.dataSet"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow4">
                                        <wm-gridcolumn show="show" name="gridcolumn4" columnwidth="12">
                                            <wm-form-field name="createdBy" displayname="Created By" show="true" primary-key="false" generator="assigned" key="createdBy" type="string" is-related="false" readonly="true" pc-display="true" mobile-display="true"
                                            widget="text" maxchars="80" inputtype="text" regexp=".*" placeholder="Enter value" defaultvalue="bind:Variables.loggedInUser.dataSet.name"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow5">
                                        <wm-gridcolumn show="show" name="gridcolumn5" columnwidth="12">
                                            <wm-form-field name="invoiceFile" displayname="Invoice File" show="true" primary-key="false" generator="assigned" key="invoiceFile" type="blob" is-related="false" pc-display="true" mobile-display="true" widget="upload"
                                            maxchars="255" regexp=".*" href="services/licensemanagerdb/CustomerInvoices/123456/content/invoiceFile?0.6179470233619213" permitted="undefined"></wm-form-field>
                                            <wm-form-field name="createdDate" displayname="Created Date" show="false" primary-key="false" generator="assigned" key="createdDate" type="date" is-related="false" pc-display="true" mobile-display="true"
                                            widget="date" defaultvalue="bind:Variables.current_date.dataSet.dataValue"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow6">
                                        <wm-gridcolumn show="show" name="gridcolumn6" columnwidth="12"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow7">
                                        <wm-gridcolumn show="show" name="gridcolumn7" columnwidth="12"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow8">
                                        <wm-gridcolumn show="show" name="gridcolumn8" columnwidth="12"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="glyphicon glyphicon-save" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow21">
                    <wm-gridcolumn colwidth="12" name="gridcolumn27"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow22">
                    <wm-gridcolumn colwidth="12" name="gridcolumn28"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow23">
                    <wm-gridcolumn colwidth="12" name="gridcolumn29"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow24">
                    <wm-gridcolumn colwidth="12" name="gridcolumn30"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow25">
                    <wm-gridcolumn colwidth="12" name="gridcolumn31"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow26">
                    <wm-gridcolumn colwidth="12" name="gridcolumn32"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow27">
                    <wm-gridcolumn colwidth="12" name="gridcolumn33"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow28">
                    <wm-gridcolumn colwidth="12" name="gridcolumn34"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
</wm-page>