<wm-page data-ng-controller="PO_customersPageController" pagetitle="PO Customers" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow34_3">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn64_1">
                        <wm-icon name="icon1" iconclass="fa fa-truck fa-2x"></wm-icon>
                        <wm-label name="label49_2" class="h2" caption="Purchase Orders" marginleft="0.5" marginunit="em" margintop="0.5"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn65"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn7">
                        <wm-composite name="composite29_1" marginunit="em" margintop="0.4" marginleft="0.2">
                            <wm-label class="col-md-3" name="label33_1" caption="Customer List" margintop="0.7" marginunit="em"></wm-label>
                            <wm-container class="col-md-9" name="container30_1">
                                <wm-select name="customerList" dataset="bind:Variables.LicensemanagerdbCustomerData.dataSet" datafield="All Fields" displayfield="name" datavalue="bind:Variables.LicensemanagerdbCustomerData.dataSet.data[0]"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn39_3" horizontalalign="left">
                        <wm-button class="btn-success" caption="Add New PO" type="button" name="button1" on-click="dialog2.show" marginunit="em" margintop="0.5" accessroles="admin,marketing,sales" marginleft="1" iconclass="fa fa-plus"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow24_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn39_2">
                        <wm-label caption="Purchase Orders for" class="h4" marginleft="1" marginunit="em" name="label31_1"></wm-label>
                        <wm-label paddingleft="0.5" paddingunit="em" caption="bind:Widgets.customerList.datavalue.name" class="h4" fontweight="bold" name="label32_2"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn9_1">
                        <wm-livelist listclass="list-group" name="livelist2_1" itemsperrow="6" dataset="bind:Variables.get_POs_by_customerID.dataSet" margintop="1" marginunit="em" itemclass="list-group-item" navigation="None" selectfirstitem="true" selectionlimit="null">
                            <wm-listtemplate layout="blank" name="listtemplate2_1">
                                <wm-container name="container1" cursor="pointer">
                                    <wm-label width="100%" caption="bind:Variables.get_POs_by_customerID.dataSet.content[$i].poNumber" name="label8" fontsize="1.2" fontunit="em" fontweight="bold" cursor="pointer"></wm-label>
                                    <wm-label name="label3" caption="bind:Variables.get_POs_by_customerID.dataSet.content[$i].poDate | toDate: 'dd MMM yyyy'" cursor="pointer"></wm-label>
                                </wm-container>
                            </wm-listtemplate>
                        </wm-livelist>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow22_2">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn37_1"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow21_2">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn36_1">
                        <wm-panel class="panel-primary" name="panel1" title="Details" collapsible="false">
                            <wm-layoutgrid name="layoutgrid4_1" columns="6">
                                <wm-gridrow name="gridrow32" borderstyle="solid" bordertop="0" borderright="0" borderleft="0" borderbottom="1" bordercolor="#c3c1c1">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn78_1">
                                        <wm-layoutgrid name="layoutgrid6_1">
                                            <wm-gridrow name="gridrow43">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn115">
                                                    <wm-label caption="Purchase Order" class="h4" fontweight="bold" marginunit="px" name="label49" margintop="0"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn116">
                                                    <wm-label caption="Purchase Order Number :" name="label50"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn117">
                                                    <wm-label caption="bind:Widgets.livelist2_1.selecteditem.poNumber" fontweight="bold" name="label54"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow42">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn112"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn114">
                                                    <wm-label name="label53" caption="Purchase Order Date :"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn121">
                                                    <wm-label caption="bind:Widgets.livelist2_1.selecteditem.poDate | toDate: 'dd MMM yyyy'" fontweight="bold" name="label56"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow41_1">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn109"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn110">
                                                    <wm-label caption="Total Price (In $) :" name="label52"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn111">
                                                    <wm-label caption="bind:Widgets.livelist2_1.selecteditem.totalPrice" fontweight="bold" name="label57"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow33">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn62"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn63"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn64">
                                                    <wm-label name="label47_1" caption="bind:Widgets.livelist2_1.selecteditem.customerInvoiceses[$i].invoiceId"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow34" paddingtop="10">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn87_1">
                                                    <wm-label caption="Customer Contact" class="h4" fontweight="bold" marginunit="px" name="label47" margintop="0"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn88_1">
                                                    <wm-label name="label37" caption="Name"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn89_1">
                                                    <wm-label name="label38" caption="bind:Widgets.livelist2_1.selecteditem.customerContact.name" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow35_1">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn90_1"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn91_1">
                                                    <wm-label name="label39" caption="Designation"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn92_1">
                                                    <wm-label name="label40" caption="bind:Widgets.livelist2_1.selecteditem.customerContact.designation" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow36_1">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn93_1"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn94_1">
                                                    <wm-label name="label41" caption="Email"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn95_1">
                                                    <wm-label name="label42" caption="bind:Widgets.livelist2_1.selecteditem.customerContact.email" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow37_1">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn96_1"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn97_1">
                                                    <wm-label name="label43" caption="Phone"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn98_1">
                                                    <wm-label name="label44" caption="bind:Widgets.livelist2_1.selecteditem.customerContact.phone" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn79_1" horizontalalign="center">
                                        <wm-picture shape="thumbnail" picturesource="bind:&quot;services/licensemanagerdb/Customer/&quot; +Widgets.customerList.datavalue.customerId +&quot;/content/logo&quot;" pictureaspect="None" textalign="left" bordercolor="#c7c7c7"
                                        borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1" height="auto" width="180" name="picture1" marginunit="em" marginbottom="0.2"></wm-picture>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow40">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn101">
                                        <wm-label caption="Line Items" class="h4" fontweight="bold" name="label44_1"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow41">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn107">
                                        <wm-livegrid name="PolineItemLivegrid2" service="licensemanagerdb@PolineItem" formlayout="inline">
                                            <wm-grid multiselect="false" radioselect="false" deleterow="false" updaterow="false" insertrow="false" gridfirstrowselect="true" readonlygrid="true" name="PolineItemGrid2" dataset="bind:Variables.get_polineitems_by_POnumber.dataSet"
                                            showheader="true" showrecordcount="true" gridsearch="true" nodatamessage="No Purchase Order Line Items Found">
                                                <wm-grid-column binding="productSkucode.skucode" caption="SKU code" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                                <wm-grid-column binding="productSkucode.product.name" caption="Product" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search"
                                                disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                                <wm-grid-column binding="customerInvoices.invoiceId" caption="Invoice Id" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search"
                                                disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                                <wm-grid-column binding="poLineId" caption="Po Line Id" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                                <wm-grid-column binding="description" caption="Description" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                                <wm-grid-column binding="startDate" caption="Start Date" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" datepattern="dd MMM yyyy"
                                                formatpattern="toDate" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                                <wm-grid-column binding="endDate" caption="End Date" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" datepattern="dd MMM yyyy"
                                                formatpattern="toDate" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                                <wm-grid-column binding="quantity" caption="Quantity" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                                <wm-grid-column binding="customerInvoices.id" caption="Invoice ID" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                                <wm-grid-column binding="customerInvoices.createdBy" caption="Created By" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search"
                                                disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            </wm-grid>
                                        </wm-livegrid>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow45">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn122" horizontalalign="right">
                                        <wm-button class="btn-success" caption="Add New Line Item" type="button" name="button9" on-click="dialog2_1.show" disabled="bind:Widgets.livelist2_1.selecteditem.length===0? true : false" accessroles="admin,sales,marketing"
                                        iconclass="fa fa-plus"></wm-button>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-panel>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow6_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7_1"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow24_2">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn38_1" horizontalalign="right"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view2" show="false">
        <wm-dialog dialogtype="design-dialog" modal="true" name="dialog2" width="60%">
            <wm-dialogheader caption="Add PO Details" iconclass="glyphicon glyphicon-edit" name="dialogheader2"></wm-dialogheader>
            <wm-dialogcontent name="dialogcontent2">
                <wm-form class="app-dialog-form" name="form3" on-submit="insert_po_live_variable;form3Submit($event, $scope, $formData)">
                    <wm-layoutgrid name="layoutgrid4" columns="2">
                        <wm-gridrow name="gridrow23">
                            <wm-gridrow name="gridrow22_1">
                                <wm-gridcolumn colwidth="6" name="gridcolumn26" columnwidth="6">
                                    <wm-composite name="composite12">
                                        <wm-label class="col-md-3" name="label15" caption="Customer" required="true"></wm-label>
                                        <wm-container class="col-md-9" name="container12">
                                            <wm-select name="select2" datavalue="bind:Widgets.customerList.datavalue" dataset="bind:Variables.LicensemanagerdbCustomerData.dataSet" datafield="All Fields" displayfield="name" required="true"></wm-select>
                                        </wm-container>
                                    </wm-composite>
                                </wm-gridcolumn>
                                <wm-gridcolumn colwidth="6" name="gridcolumn27" columnwidth="6">
                                    <wm-composite name="composite13">
                                        <wm-label class="col-md-3" name="label16" caption="Customer Contact" required="true"></wm-label>
                                        <wm-container class="col-md-9" name="container13">
                                            <wm-select name="select3" dataset="bind:Variables.findAssociatedCustomerContacts.dataSet" datafield="All Fields" displayfield="name" required="true"></wm-select>
                                        </wm-container>
                                    </wm-composite>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow32_1">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn60">
                                    <wm-composite name="composite26_1">
                                        <wm-checkbox caption="Is Evaluation" class="col-md-push-3 col-md-9" name="checkbox1" on-change="checkbox1Change($event, $scope)"></wm-checkbox>
                                    </wm-composite>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn61"></wm-gridcolumn>
                            </wm-gridrow>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow18_1">
                            <wm-gridcolumn colwidth="6" name="gridcolumn18_1">
                                <wm-composite name="composite2">
                                    <wm-label class="col-md-3" caption="PO Number" name="label5" required="true"></wm-label>
                                    <wm-container class="col-md-9" name="container2">
                                        <wm-text tabindex="1" placeholder="Enter PO Number" name="PO_ponumber" required="true"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn colwidth="6" name="gridcolumn19_1">
                                <wm-composite name="composite5">
                                    <wm-label class="col-md-3" caption="Total Price" name="label8_1"></wm-label>
                                    <wm-container class="col-md-9" name="container5">
                                        <wm-text tabindex="1" placeholder="Total Price" name="PO_price" required="false" readonly="true"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow19_1">
                            <wm-gridcolumn colwidth="6" name="gridcolumn20_1">
                                <wm-composite name="composite6">
                                    <wm-label class="col-md-3" name="label9" caption="PO Date"></wm-label>
                                    <wm-container class="col-md-9" name="container6">
                                        <wm-date name="PO_podate"></wm-date>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn colwidth="6" name="gridcolumn21">
                                <wm-composite name="composite7">
                                    <wm-label class="col-md-3" name="label10" caption="Description"></wm-label>
                                    <wm-container class="col-md-9" name="container7">
                                        <wm-textarea name="PO_description" required="false"></wm-textarea>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow20_1">
                            <wm-gridcolumn colwidth="6" name="gridcolumn22">
                                <wm-composite name="composite8">
                                    <wm-label class="col-md-3" caption="Created By" name="label11"></wm-label>
                                    <wm-container class="col-md-9" name="container8">
                                        <wm-text tabindex="1" placeholder="Enter Name" name="PO_createdby" datavalue="bind:Variables.loggedInUser.dataSet.name" required="true" readonly="true"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn colwidth="6" name="gridcolumn23">
                                <wm-composite name="composite9" show="false">
                                    <wm-label class="col-md-3" name="label12" caption="Created Date"></wm-label>
                                    <wm-container class="col-md-9" name="container9">
                                        <wm-date name="PO_createddate" show="true"></wm-date>
                                    </wm-container>
                                </wm-composite>
                                <wm-composite name="composite10" show="false">
                                    <wm-label class="col-md-3" name="label13" caption="Modified Date"></wm-label>
                                    <wm-container class="col-md-9" name="container10">
                                        <wm-date name="PO_modifieddate"></wm-date>
                                    </wm-container>
                                </wm-composite>
                                <wm-composite name="composite11" show="false">
                                    <wm-label class="col-md-3" name="label14" caption="Modified By"></wm-label>
                                    <wm-container class="col-md-9" name="container11">
                                        <wm-text name="PO_modifiedby"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow35_2">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn66_1"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn67"></wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-buttongroup name="buttongroup3" class="form-action col-md-12" margintop="5">
                        <wm-button class="btn-secondary" caption="Cancel" name="button14" on-click="dialog2.hide"></wm-button>
                        <wm-button class="btn-primary" caption="Save PO" name="button15"></wm-button>
                    </wm-buttongroup>
                </wm-form>
                <wm-buttongroup name="buttongroup2"></wm-buttongroup>
            </wm-dialogcontent>
            <wm-dialogactions name="dialogactions2" show="false"></wm-dialogactions>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view2_1" show="false">
        <wm-dialog dialogtype="design-dialog" modal="true" name="dialog2_1" width="60%">
            <wm-dialogheader caption="Form" iconclass="glyphicon glyphicon-edit" name="dialogheader2_1"></wm-dialogheader>
            <wm-dialogcontent name="dialogcontent2_1">
                <wm-form class="app-dialog-form" name="form2" on-submit="insert_POLine_items_live_vari" method="post">
                    <wm-layoutgrid name="layoutgrid5">
                        <wm-gridrow name="gridrow20">
                            <wm-gridcolumn data-template-ctr="true" columnwidth="6" name="gridcolumn30">
                                <wm-composite name="composite30_1">
                                    <wm-label required="true" class="col-md-3" name="label32_1" caption="PO Number"></wm-label>
                                    <wm-container class="col-md-9" name="container31_1">
                                        <wm-text name="select_PO_number" readonly="true" datavalue="bind:Widgets.livelist2_1.selecteditem.poNumber"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn data-template-ctr="true" columnwidth="6" name="gridcolumn31">
                                <wm-composite name="composite28_1">
                                    <wm-label required="true" caption="Customer" name="label49_1" class="col-md-3"></wm-label>
                                    <wm-container name="container28_1" class="col-md-9">
                                        <wm-text datavalue="bind:Widgets.customerList.datavalue.name" readonly="true" name="text15"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow21">
                            <wm-gridcolumn data-template-ctr="true" columnwidth="6" name="gridcolumn32">
                                <wm-composite name="composite17">
                                    <wm-label required="true" class="col-md-3" caption="PO Line ID" name="label20"></wm-label>
                                    <wm-container class="col-md-9" name="container18">
                                        <wm-text placeholder="Enter ID" name="po_line_id" required="true" datavalue="bind:(Widgets.livelist2_1.selecteditem.poNumber)+'#'+(Variables.get_polineitems_by_POnumber.dataSet.content.length+1)"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn33">
                                <wm-composite name="composite20">
                                    <wm-label class="col-md-3" caption="Product Details" name="label23"></wm-label>
                                    <wm-container class="col-md-9" name="container21">
                                        <wm-text readonly="true" datavalue="bind:Variables.get_details_by_SKU_code.dataSet.data[$i].product.name+&quot;---&quot;+Variables.get_details_by_SKU_code.dataSet.data[$i].product.description" name="text10"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow34_2">
                            <wm-gridcolumn name="gridcolumn66" columnwidth="6">
                                <wm-composite name="composite18">
                                    <wm-label required="true" class="col-md-3" caption="Product SKU Code" name="label21"></wm-label>
                                    <wm-container class="col-md-9" name="container19">
                                        <wm-select datavalue="-" dataset="bind:Variables._get__enabled_SKUs.dataSet" datafield="skucode" displayfield="skucode" name="select_SKU_code" required="true"></wm-select>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn68_1" columnwidth="6">
                                <wm-composite name="composite27_1">
                                    <wm-label caption="SKU Description" name="label48" class="col-md-3"></wm-label>
                                    <wm-container name="container27_1" class="col-md-9">
                                        <wm-textarea readonly="true" datavalue="bind:Variables.get_details_by_SKU_code.dataSet.data[$i].description" name="textarea3"></wm-textarea>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow35">
                            <wm-gridcolumn name="gridcolumn72" columnwidth="6">
                                <wm-composite name="composite28">
                                    <wm-label class="col-md-3" caption="Description" name="label31" required="true"></wm-label>
                                    <wm-container class="col-md-9" name="container29">
                                        <wm-textarea placeholder="PO Line Item Description(Goes Into License)" name="PO_line_item_description" required="true" height="95" width="249"></wm-textarea>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn73" columnwidth="6">
                                <wm-composite name="composite21">
                                    <wm-label required="true" class="col-md-3" caption="No. of Users" name="label24"></wm-label>
                                    <wm-container class="col-md-9" name="container22">
                                        <wm-text readonly="true" datavalue="bind:Variables.get_details_by_SKU_code.dataSet.data[$i].totalUsers*Widgets.quantity.datavalue" type="number" name="text11"></wm-text>
                                    </wm-container>
                                </wm-composite>
                                <wm-composite name="composite27_2">
                                    <wm-label required="true" class="col-md-3" caption="Total Hits" name="label48_1"></wm-label>
                                    <wm-container class="col-md-9" name="container27_2">
                                        <wm-text readonly="true" datavalue="bind:Variables.get_details_by_SKU_code.dataSet.data[$i].totalHits" type="number" name="text14_1"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow34_1">
                            <wm-gridcolumn name="gridcolumn68" columnwidth="6">
                                <wm-composite name="composite24">
                                    <wm-label required="true" class="col-md-3" caption="Start Date" name="label27"></wm-label>
                                    <wm-container class="col-md-9" name="container25">
                                        <wm-date required="true" datavalue="-" outputformat="yyyy-MM-dd" name="start_date" on-change="start_dateChange($event, $scope)"></wm-date>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn name="gridcolumn69" columnwidth="6">
                                <wm-composite name="composite23">
                                    <wm-label required="true" class="col-md-3" caption="No. of Nodes" name="label26"></wm-label>
                                    <wm-container class="col-md-9" name="container24">
                                        <wm-text readonly="true" type="number" datavalue="bind:Variables.get_details_by_SKU_code.dataSet.data[$i].totalNodes*Widgets.quantity.datavalue" name="text13"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow22">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn35">
                                <wm-composite name="composite26">
                                    <wm-label required="true" class="col-md-3" caption="Duration(In Months)" name="label29"></wm-label>
                                    <wm-container class="col-md-9" name="container27">
                                        <wm-text updateon="default" placeholder="Duration" readonly="false" scopedatavalue="duration" name="text14" on-change="text14Change($event, $scope)" type="number" datavalue="1" minvalue="1" maxvalue="62" required="true"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn36">
                                <wm-composite name="composite25">
                                    <wm-label class="col-md-3" caption="End Date" name="label28"></wm-label>
                                    <wm-container class="col-md-9" name="container26">
                                        <wm-date datavalue="-" outputformat="yyyy-MM-dd" name="end_Date" readonly="true"></wm-date>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow23_1">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn37">
                                <wm-composite name="composite22">
                                    <wm-label required="true" class="col-md-3" caption="Quantity" name="label25"></wm-label>
                                    <wm-container class="col-md-9" name="container23">
                                        <wm-text updateon="default" type="number" minvalue="1" datavalue="1" step="1" name="quantity"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn38">
                                <wm-composite name="composite27">
                                    <wm-label required="true" class="col-md-3" caption="Total Price" name="label30"></wm-label>
                                    <wm-container class="col-md-9" name="container28">
                                        <wm-text type="number" datavalue="bind:Variables.get_details_by_SKU_code.dataSet.data[$i].price*Widgets.quantity.datavalue" name="total_price" readonly="true"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1">
                        <wm-button caption="Reset" type="reset" class="btn-secondary" name="button1"></wm-button>
                        <wm-button caption="Cancel" type="button" class="btn-default" name="button8_1" on-click="dialog2_1.hide"></wm-button>
                        <wm-button caption="Save" type="submit" class="btn-primary" name="button3"></wm-button>
                    </wm-buttongroup>
                </wm-form>
            </wm-dialogcontent>
            <wm-dialogactions name="dialogactions2_1" show="false">
                <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button5"></wm-button>
                <wm-button class="btn-primary" caption="Save" name="button6" on-click="Insert_POLineItem"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>