<wm-page data-ng-controller="CustomersPageController" pagetitle="Customers" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid marginunit="em" marginleft="0.5" name="layoutgrid1">
                <wm-gridrow name="gridrow17">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn31_1">
                        <wm-icon name="icon1" iconclass="fa fa-users fa-2x"></wm-icon>
                        <wm-label name="label1" caption="Customers" class="h2" margintop="0.5" marginleft="0.5" marginunit="em"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                        <wm-livegrid name="CustomerLivegrid2" service="licensemanagerdb@Customer" formlayout="dialog">
                            <wm-grid height="280px" deleterow="false" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" name="CustomerGrid2" title="Add/Edit Customers" dataset="bind:Variables.LicensemanagerdbCustomerData.dataSet"
                            multiselect="false" radioselect="false" margintop="1" marginunit="em" gridsearch="true" nodatamessage="No Customers found.">
                                <wm-grid-column binding="logo" caption="Logo" type="blob" widget-type="image" width="74px" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"><img width="" class="" data-ng-src="{{contentBaseUrl + row[primaryKey] + '/content/'+ colDef.field}}">
                                </wm-grid-column>
                                <wm-grid-column binding="name" caption="Name" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false" is-related-pk="false"
                                pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="address" caption="Address" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="domain" caption="Domain" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="type" caption="Type" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="website" caption="Website" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="employees" caption="Employees" type="integer" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="createdBy" caption="Created By" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="createdDate" caption="Created Date" type="date" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd"
                                datepattern="dd MMM yyyy" formatpattern="toDate" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-action key="addNewRow" display-name="Add new customer" show="true" class="btn-success" iconclass="glyphicon glyphicon-plus" action="addNewRow()"></wm-grid-action>
                            </wm-grid>
                            <wm-liveform novalidate="false" title="Customer Details" name="CustomerLiveform2" dataset="bind:Variables.LicensemanagerdbCustomerData.dataSet" formlayout="dialog" defaultmode="View" width="60%">
                                <wm-layoutgrid name="layoutgrid2" columns="2">
                                    <wm-gridrow name="gridrow10">
                                        <wm-gridcolumn colwidth="6" name="gridcolumn21_1"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow11">
                                        <wm-gridcolumn colwidth="6" name="gridcolumn22_1">
                                            <wm-form-field name="form_field1" displayname="Customer Name" show="true" primary-key="false" generator="assigned" key="name" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                            widget="text" maxchars="100" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn colwidth="6" name="gridcolumn23_1">
                                            <wm-form-field name="form_field2" displayname="Domain" show="true" primary-key="false" generator="assigned" key="domain" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="80"
                                            inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow12">
                                        <wm-gridcolumn colwidth="6" name="gridcolumn24_1">
                                            <wm-form-field name="form_field3" displayname="Type" show="true" primary-key="false" generator="assigned" key="type" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="25"
                                            inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn colwidth="6" name="gridcolumn25">
                                            <wm-form-field name="form_field4" displayname="Address" show="true" primary-key="false" generator="assigned" key="address" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                            widget="text" maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow13_1">
                                        <wm-gridcolumn colwidth="6" name="gridcolumn26">
                                            <wm-form-field name="form_field5" displayname="No. of Employees" show="true" primary-key="false" generator="assigned" key="employees" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"
                                            inputtype="number" regexp=".*" placeholder="Enter value" step="1"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn colwidth="6" name="gridcolumn27">
                                            <wm-form-field name="form_field6" displayname="Website" show="true" primary-key="false" generator="assigned" key="website" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                            widget="text" maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow14_1">
                                        <wm-gridcolumn colwidth="6" name="gridcolumn28">
                                            <wm-form-field name="form_field7" displayname="Created By" show="true" primary-key="false" generator="assigned" key="createdBy" type="string" is-related="false" readonly="true" pc-display="true" mobile-display="true"
                                            widget="text" maxchars="80" inputtype="text" regexp=".*" placeholder="Enter value" defaultvalue="bind:Variables.loggedInUser.dataSet.name"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn colwidth="6" name="gridcolumn29">
                                            <wm-form-field name="form_field8" displayname="Logo" show="true" primary-key="false" generator="assigned" key="logo" type="blob" maxvalue="255" is-related="false" pc-display="true" mobile-display="true" widget="upload"
                                            maxchars="255" regexp=".*" permitted="undefined"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow15_1">
                                        <wm-gridcolumn colwidth="6" name="gridcolumn30"></wm-gridcolumn>
                                        <wm-gridcolumn colwidth="6" name="gridcolumn31"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow16">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn32"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn33"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-field name="createdDate" displayname="Created Date" show="false" primary-key="false" generator="assigned" key="createdDate" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date" defaultvalue="bind:Variables.current_date.dataSet.dataValue"></wm-form-field>
                                <wm-form-field name="modifiedBy" displayname="Modified By" show="false" primary-key="false" generator="assigned" key="modifiedBy" type="string" is-related="false" pc-display="true" mobile-display="true"
                                widget="text" maxchars="80"></wm-form-field>
                                <wm-form-field name="modifiedDate" displayname="Modified Date" show="false" primary-key="false" generator="assigned" key="modifiedDate" type="date" is-related="false" pc-display="true" mobile-display="true"
                                widget="date"></wm-form-field>
                                <wm-form-field name="form_field9" displayname="Customer Id" show="false" primary-key="true" generator="identity" key="customerId" type="integer" is-related="false" readonly="readonly" required="required"
                                pc-display="true" mobile-display="true" widget="number" inputtype="number" regexp=".*" placeholder="Enter value" step="1"></wm-form-field>
                                <wm-form-action key="reset" display-name="Reset" show="true" class="form-reset btn-secondary" iconclass="glyphicon glyphicon-refresh" action="reset()" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="glyphicon glyphicon-save" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                        <wm-livegrid name="CustomerContactLivegrid4" service="licensemanagerdb@CustomerContact" formlayout="dialog">
                            <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" name="CustomerContactGrid6" title="bind:'Contact Details for'+' '+ Widgets.CustomerGrid2.selecteditem.name" dataset="bind:Widgets.CustomerGrid2.selecteditem.customerContacts"
                            marginunit="em" margintop="1" nodatamessage="No Contacts Found.">
                                <wm-grid-column binding="name" caption="Name" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false" is-related-pk="false" pcdisplay="true"
                                mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="manager" caption="Manager" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false" is-related-pk="false"
                                pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="designation" caption="Designation" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="location" caption="Location" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="phone" caption="Phone" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false" is-related-pk="false"
                                pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="email" caption="Email" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false" is-related-pk="false"
                                pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="customer.website" caption="Customer Website" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="contactId" caption="Contact Id" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="createdBy" caption="Created By" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="modifiedBy" caption="Modified By" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-action key="addNewRow" display-name="Add New Contact" show="true" class="btn-success" iconclass="glyphicon glyphicon-plus" action="addNewRow()"></wm-grid-action>
                            </wm-grid>
                            <wm-liveform width="80%" novalidate="false" title="Customer Contact Details" name="CustomerContactLiveform5" dataset="bind:Variables.LicensemanagerdbCustomerContactData.dataSet" formlayout="dialog" defaultmode="View" on-success="LicensemanagerdbCustomerData;LicensemanagerdbCustomerContactData">
                                <wm-layoutgrid columns="2" name="layoutgrid3">
                                    <wm-gridrow name="gridrow26">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn43" colwidth="6"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn44" colwidth="6">
                                            <wm-form-field display-name="Customer" show="true" primary-key="false" generator="assigned" key="customer" type="list" is-related="true" readonly="false" required="true" pc-display="true" mobile-display="true" default-value="bind:Widgets.CustomerGrid2.selecteditem"
                                            displayvalue="name" placeholder="Select value" regexp=".*" multiple="false" widget="select" name="form_field10"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow27">
                                        <wm-gridcolumn name="gridcolumn45" colwidth="6">
                                            <wm-form-field display-name="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" maxvalue="80" is-related="false" readonly="false" required="true" pc-display="true" mobile-display="true"
                                            placeholder="Enter value" regexp=".*" inputtype="text" multiple="false" widget="text" name="form_field11"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn name="gridcolumn46" colwidth="6">
                                            <wm-form-field display-name="Designation" show="true" primary-key="false" generator="assigned" key="designation" type="string" maxvalue="80" is-related="false" readonly="false" required="true" pc-display="true"
                                            mobile-display="true" placeholder="Enter value" regexp=".*" inputtype="text" multiple="false" widget="text" name="form_field12" defaultvalue="Regional Manager"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow28">
                                        <wm-gridcolumn name="gridcolumn47" colwidth="6">
                                            <wm-form-field display-name="Email" show="true" primary-key="false" generator="assigned" key="email" type="string" maxvalue="100" is-related="false" readonly="false" required="true" pc-display="true" mobile-display="true"
                                            placeholder="Enter value" regexp=".*" inputtype="text" multiple="false" widget="text" name="form_field13"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn name="gridcolumn48" colwidth="6">
                                            <wm-form-field display-name="Location" show="true" primary-key="false" generator="assigned" key="location" type="string" maxvalue="80" is-related="false" readonly="false" required="true" pc-display="true" mobile-display="true"
                                            placeholder="Enter value" regexp=".*" inputtype="text" multiple="false" widget="text" name="form_field14"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow29">
                                        <wm-gridcolumn name="gridcolumn49" colwidth="6">
                                            <wm-form-field display-name="Manager" show="true" primary-key="false" generator="assigned" key="manager" type="string" maxvalue="80" is-related="false" readonly="false" required="false" pc-display="true" mobile-display="true"
                                            placeholder="Enter value" regexp=".*" inputtype="text" multiple="false" widget="text" name="form_field15" defaultvalue="-"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn name="gridcolumn50" colwidth="6">
                                            <wm-form-field display-name="Phone" show="true" primary-key="false" generator="assigned" key="phone" type="string" maxvalue="25" is-related="false" readonly="false" required="true" pc-display="true" mobile-display="true"
                                            placeholder="Enter value" regexp=".*" inputtype="text" multiple="false" widget="text" name="form_field16"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow30">
                                        <wm-gridcolumn name="gridcolumn51" colwidth="6">
                                            <wm-form-field display-name="Created By" show="true" primary-key="false" generator="assigned" key="createdBy" type="string" maxvalue="80" is-related="false" readonly="true" required="true" pc-display="true" mobile-display="true"
                                            placeholder="Enter value" regexp=".*" inputtype="text" multiple="false" widget="text" default-value="bind:Variables.loggedInUser.dataSet.name" name="form_field17"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn name="gridcolumn52" colwidth="6"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow31">
                                        <wm-gridcolumn name="gridcolumn53" colwidth="6"></wm-gridcolumn>
                                        <wm-gridcolumn name="gridcolumn54" colwidth="6"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-field display-name="Contact Id" show="false" primary-key="true" generator="identity" key="contactId" type="integer" is-related="false" readonly="true" required="true" pc-display="true" mobile-display="true" step="1"
                                placeholder="Enter value" regexp=".*" inputtype="number" multiple="false" widget="number" name="form_field18"></wm-form-field>
                                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="glyphicon glyphicon-save" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn7"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn8"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn9"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>