<wm-page data-ng-controller="GeneratedLicensePageController" pagetitle="Generated License" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid1" columns="1">
                <wm-gridrow name="gridrow17">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn18_1">
                        <wm-icon name="icon1" iconclass="fa fa-history fa-2x"></wm-icon>
                        <wm-label name="label1" caption="License History" class="h2" margintop="0.5" marginleft="0.5" marginunit="em"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn colwidth="12" name="gridcolumn10">
                        <wm-livegrid name="LicensesLivegrid2" service="licensemanagerdb@Licenses" formlayout="dialog">
                            <wm-grid deleterow="false" updaterow="false" insertrow="false" gridfirstrowselect="true" readonlygrid="false" name="LicensesGrid2" dataset="bind:Variables.LicensemanagerdbLicensesData.dataSet" showrecordcount="true" height="auto"
                            gridsearch="true">
                                <wm-grid-column binding="licenseId" caption="License Id" type="integer" backgroundcolor="" textcolor="" primary-key="true" generator="identity" readonly="true" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="createdDate" caption="Created Date" type="date" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd"
                                datepattern="dd MMM yyyy" formatpattern="toDate" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="licenseUrl" caption="License Url" type="string" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="customer.name" caption="Customer Name" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                disable-inline-editing="true" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="po.poNumber" caption="Po Number" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="true" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="po.totalPrice" caption="Po Total Price" type="integer" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                disable-inline-editing="true" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="createdBy" caption="Created By" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="undefined"></wm-grid-column>
                            </wm-grid>
                            <wm-liveform novalidate="false" title="Details" name="LicensesLiveform2" dataset="bind:Variables.LicensemanagerdbLicensesData.dataSet" formlayout="dialog">
                                <wm-layoutgrid name="layoutgrid1">
                                    <wm-gridrow name="gridrow1">
                                        <wm-gridcolumn show="show" name="gridcolumn1" columnwidth="12">
                                            <wm-form-field name="customer" displayname="Customer" show="true" primary-key="false" generator="assigned" key="customer" type="list" is-related="true" required="required" pc-display="true" mobile-display="true"
                                            widget="select" defaultvalue="0" regexp=".*" placeholder="Select value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow2">
                                        <wm-gridcolumn show="show" name="gridcolumn2" columnwidth="12">
                                            <wm-form-field name="po" displayname="Po" show="true" primary-key="false" generator="assigned" key="po" type="list" is-related="true" required="required" pc-display="true" mobile-display="true" widget="select" maxchars="100"
                                            regexp=".*" placeholder="Select value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow3">
                                        <wm-gridcolumn show="hide" name="gridcolumn3" columnwidth="12"></wm-gridcolumn>
                                        <wm-gridcolumn show="show" name="gridcolumn4" columnwidth="12"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow4">
                                        <wm-gridcolumn show="show" name="gridcolumn5" columnwidth="12">
                                            <wm-form-field name="createdBy" displayname="Created By" show="true" primary-key="false" generator="assigned" key="createdBy" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                            maxchars="80" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow5">
                                        <wm-gridcolumn show="show" name="gridcolumn6" columnwidth="12">
                                            <wm-form-field name="createdDate" displayname="Created Date" show="true" primary-key="false" generator="assigned" key="createdDate" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date"
                                            regexp=".*" placeholder="Select date"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow6">
                                        <wm-gridcolumn show="show" name="gridcolumn7" columnwidth="12">
                                            <wm-form-field name="licenseUrl" displayname="License Url" show="true" primary-key="false" generator="assigned" key="licenseUrl" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                            maxchars="1024" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow7">
                                        <wm-gridcolumn show="show" name="gridcolumn8" columnwidth="12"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-field name="licenseId" displayname="License Id" show="false" primary-key="true" generator="identity" key="licenseId" type="integer" is-related="false" required="required" pc-display="true" mobile-display="true"
                                widget="number" inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="glyphicon glyphicon-save" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>