<wm-partial data-ng-controller="headerPageController" name="header" type="header">
    <wm-layoutgrid name="headerlayout">
        <wm-gridrow name="headerrow">
            <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="7" paddingleft="10">
                <wm-icon name="icon1" iconclass="fa fa-key" iconsize="3em"></wm-icon>
                <wm-label caption="License Manager" class="application-name h2" name="AppName" marginright="10" marginleft="10" fontunit="em" backgroundrepeat="no-repeat"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn name="headerright" horizontalalign="right" verticalalign="middle" columnwidth="4" paddingunit="em" paddingtop="1" paddingright="1">
                <wm-label name="label2" class="h2" caption="bind:&quot;Hi &quot;+ Variables.loggedInUser.dataSet.name"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="1" name="gridcolumn3">
                <wm-picture picturesource="resources/images/logos/logo.png" name="AppLogo" marginleft="5" textalign="right" class="pull-right" marginright="5"></wm-picture>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>