<wm-page data-ng-controller="New_InvoicesPageController" pagetitle="New Invoices" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid4">
                <wm-gridrow name="gridrow11">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn14">
                        <wm-icon name="icon1" iconclass="fa fa-credit-card fa-2x"></wm-icon>
                        <wm-label caption="Invoices" class="h2" margintop="0.5" marginleft="0.5" marginunit="em" name="label10"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn17_1">
                        <wm-tabs name="tabs1" transition="none">
                            <wm-tabpane name="tabpane1">
                                <wm-tabheader name="tabheader1" heading="Create Invoice" accessroles="finance,admin"></wm-tabheader>
                                <wm-tabcontent name="tabcontent1" content="Create_Invoice"></wm-tabcontent>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane2">
                                <wm-tabheader name="tabheader2" heading="Associate Invoice &amp; PO items" accessroles="admin,finance"></wm-tabheader>
                                <wm-tabcontent horizontalalign="left" name="tabcontent2">
                                    <wm-form name="form1" on-submit="form1Submit($event, $scope, $formData)">
                                        <wm-layoutgrid name="layoutgrid1" columns="1">
                                            <wm-gridrow name="gridrow21">
                                                <wm-gridcolumn columnwidth="7" name="gridcolumn6">
                                                    <wm-composite name="composite4">
                                                        <wm-label required="true" class="col-md-3" name="label4" caption="Select Customer"></wm-label>
                                                        <wm-container class="col-md-9" name="container4">
                                                            <wm-select required="true" displayfield="name" datafield="customerId" dataset="bind:Variables.LicensemanagerdbCustomerData.dataSet" name="select3" readonlygrid="true"></wm-select>
                                                        </wm-container>
                                                    </wm-composite>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow4">
                                                <wm-gridcolumn columnwidth="7" name="gridcolumn7">
                                                    <wm-composite name="composite5">
                                                        <wm-label required="true" class="col-md-3" name="label5" caption="Select PO"></wm-label>
                                                        <wm-container class="col-md-9" name="container5">
                                                            <wm-select datafield="poNumber" required="true" dataset="bind:Variables.find_associated_pos.dataSet" readonlygrid="true" name="select4" displayexpression="bind:$[data[$i].poNumber]+&quot; Date &quot;+($[data[$i].poDate]| toDate: 'dd MMM yyyy')"></wm-select>
                                                        </wm-container>
                                                    </wm-composite>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow20">
                                                <wm-gridcolumn columnwidth="7" name="gridcolumn8">
                                                    <wm-composite name="composite6">
                                                        <wm-label fontweight="bold" required="true" class="col-md-3" name="label6" caption="Select Invoice"></wm-label>
                                                        <wm-container class="col-md-9" name="container6">
                                                            <wm-select readonlygrid="true" required="true" displayfield="invoiceId" datafield="invoiceId" dataset="bind:Variables.find_associated_invoices_with_po.dataSet" name="select5"></wm-select>
                                                        </wm-container>
                                                    </wm-composite>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn name="gridcolumn5" columnwidth="5"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow5">
                                                <wm-gridcolumn colwidth="12" name="gridcolumn11">
                                                    <wm-grid showrecordcount="true" readonlygrid="true" name="grid1" radioselect="false" multiselect="true" on-select="grid1Select($event, $data)" on-deselect="grid1Deselect($event, $data)" dataset="bind:Variables.get_pending_polineitems.dataSet"
                                                    height="auto">
                                                        <wm-grid-column mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" primary-key="" textcolor="" backgroundcolor=""
                                                        type="string" caption="Po Line I D" binding="poLineID"></wm-grid-column>
                                                        <wm-grid-column mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" primary-key=""
                                                        textcolor="" backgroundcolor="" type="string" caption="Po Number" binding="poNumber"></wm-grid-column>
                                                        <wm-grid-column mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" primary-key=""
                                                        textcolor="" backgroundcolor="" type="string" caption="Invoice I D" binding="invoiceID"></wm-grid-column>
                                                        <wm-grid-column mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" primary-key=""
                                                        textcolor="" backgroundcolor="" type="string" caption="Start Date" binding="startDate"></wm-grid-column>
                                                        <wm-grid-column mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" primary-key=""
                                                        textcolor="" backgroundcolor="" type="string" caption="End Date" binding="endDate"></wm-grid-column>
                                                        <wm-grid-column mobiledisplay="true" pcdisplay="true" caption="S K U Code" binding="SKUCode"></wm-grid-column>
                                                        <wm-grid-column mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" primary-key=""
                                                        textcolor="" backgroundcolor="" type="string" caption="S K U  Description" binding="SKU Description"></wm-grid-column>
                                                        <wm-grid-column mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" primary-key=""
                                                        textcolor="" backgroundcolor="" type="string" caption="License  Type" binding="License Type"></wm-grid-column>
                                                        <wm-grid-column mobiledisplay="true" pcdisplay="true" caption="Description" binding="description"></wm-grid-column>
                                                        <wm-grid-column mobiledisplay="true" pcdisplay="true" caption="Quantity" binding="quantity"></wm-grid-column>
                                                    </wm-grid>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                        <wm-buttongroup textalign="center" name="buttongroup1" horizontalalign="right">
                                            <wm-button disabled="bind:Widgets.grid1.selecteditem.length===0?true:false" name="button1" caption="Associate PO Line Items" type="submit" class="btn-primary" readonlygrid="true"></wm-button>
                                        </wm-buttongroup>
                                    </wm-form>
                                </wm-tabcontent>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane3" show="false">
                                <wm-tabheader readonlygrid="true" heading="Update WM Ref No. for Line Items" name="tabheader3" accessroles="admin,sales"></wm-tabheader>
                                <wm-tabcontent name="tabcontent3">
                                    <wm-layoutgrid columns="1" name="layoutgrid2">
                                        <wm-gridrow name="gridrow8">
                                            <wm-gridcolumn name="gridcolumn15" colwidth="12">
                                                <wm-form on-submit="form2Submit($event, $scope, $formData);increment_wmiidCount_license" name="form2" class="panel-primary" readonlygrid="true">
                                                    <wm-layoutgrid name="layoutgrid3">
                                                        <wm-gridrow name="gridrow13">
                                                            <wm-gridcolumn columnwidth="7" name="gridcolumn17">
                                                                <wm-composite name="composite7">
                                                                    <wm-label required="true" caption="Invoice ID" name="label7" class="col-md-3"></wm-label>
                                                                    <wm-container name="container7" class="col-md-9">
                                                                        <wm-select required="true" displayfield="invoiceID" datafield="invoiceID" dataset="bind:Variables.get_pending_invoices.dataSet" name="select5_1" readonlygrid="true"></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow12">
                                                            <wm-gridcolumn columnwidth="8" name="gridcolumn15_2">
                                                                <wm-composite name="composite8">
                                                                    <wm-label fontweight="bold" caption="WM Reference Number" name="label8" class="col-md-3" required="true" width="auto"></wm-label>
                                                                    <wm-container name="container8" class="col-md-9">
                                                                        <wm-text required="true" placeholder="Enter WM Ref No." name="text2" marginleft="0.3" marginunit="em" paddingunit="%" autofocus="true" autocomplete="false" readonlygrid="true" datavalue="bind:Variables.splitter.dataSet.value"></wm-text>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow14_1">
                                                            <wm-gridcolumn name="gridcolumn15_1" columnwidth="2" horizontalalign="left">
                                                                <wm-label name="label6_1" caption="Customer :" class="h5"></wm-label>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="6" name="gridcolumn12">
                                                                <wm-label name="label7_1" class="h5" fontweight="bold" caption="bind:Variables.get_selected_invoice_details.dataSet.data[0].customer.name"></wm-label>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow15_1">
                                                            <wm-gridcolumn name="gridcolumn16_1" columnwidth="2">
                                                                <wm-label name="label8_1" caption="Purchase Order Number :" class="h5"></wm-label>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="5" name="gridcolumn13">
                                                                <wm-label name="label9" class="h5" fontweight="bold" caption="bind:Variables.get_selected_invoice_details.dataSet.data[0].po.poNumber"></wm-label>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow18">
                                                            <wm-gridcolumn readonlygrid="true" name="gridcolumn19_1" columnwidth="12">
                                                                <wm-grid multiselect="true" radioselect="false" name="grid2" dataset="bind:Variables.get_pending_poline_with_null_wmr.dataSet" readonlygrid="true">
                                                                    <wm-grid-column binding="poNumber" caption="Po Number" type="string" backgroundcolor="" textcolor="" primary-key="" readonly="readonly" col-class="" col-ng-class="" search-placeholder="Search"
                                                                    disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                    <wm-grid-column binding="invoiceID" caption="Invoice I D" type="string" backgroundcolor="" textcolor="" primary-key="" readonly="readonly" col-class="" col-ng-class=""
                                                                    search-placeholder="Search" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                    <wm-grid-column binding="SKUCode" caption="S K U Code" type="string" backgroundcolor="" textcolor="" primary-key="" readonly="readonly" col-class="" col-ng-class="" search-placeholder="Search"
                                                                    disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                    <wm-grid-column binding="wmRefNum" caption="Wm Ref Num" type="string" backgroundcolor="" textcolor="" primary-key="" readonly="readonly" col-class="" col-ng-class=""
                                                                    search-placeholder="Search" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                    <wm-grid-column binding="description" caption="Description" type="string" backgroundcolor="" textcolor="" primary-key="" readonly="readonly" col-class="" col-ng-class=""
                                                                    search-placeholder="Search" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                    <wm-grid-column binding="SKU Description" caption="S K U  Description" type="string" backgroundcolor="" textcolor="" primary-key="" readonly="readonly" col-class="" col-ng-class=""
                                                                    search-placeholder="Search" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                    <wm-grid-column binding="poLineID" caption="Po Line I D" type="string" backgroundcolor="" textcolor="" primary-key="" readonly="readonly" col-class="" col-ng-class=""
                                                                    search-placeholder="Search" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                    <wm-grid-column binding="License Type" caption="License  Type" type="string" backgroundcolor="" textcolor="" primary-key="" readonly="readonly" col-class="" col-ng-class=""
                                                                    search-placeholder="Search" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                    <wm-grid-column binding="startDate" caption="Start Date" type="string" backgroundcolor="" textcolor="" primary-key="" readonly="readonly" col-class="" col-ng-class=""
                                                                    search-placeholder="Search" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                    <wm-grid-column binding="endDate" caption="End Date" type="string" backgroundcolor="" textcolor="" primary-key="" readonly="readonly" col-class="" col-ng-class="" search-placeholder="Search"
                                                                    disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                    <wm-grid-column binding="quantity" caption="Quantity" type="string" backgroundcolor="" textcolor="" primary-key="" readonly="readonly" col-class="" col-ng-class="" search-placeholder="Search"
                                                                    disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                </wm-grid>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-buttongroup name="buttongroup2" horizontalalign="right" class="form-action col-md-12">
                                                        <wm-button name="button2" caption="Reset" type="reset" class="btn-secondary"></wm-button>
                                                        <wm-button name="button3" caption="Cancel" type="button" class="btn-warning"></wm-button>
                                                        <wm-button name="button4" caption="Update" type="submit" class="btn-primary"></wm-button>
                                                    </wm-buttongroup>
                                                </wm-form>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-tabcontent>
                            </wm-tabpane>
                        </wm-tabs>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>