<wm-page data-ng-controller="New_SKUPageController" pagetitle="New Sku" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid1" columns="1" marginunit="em" marginleft="0.2">
                <wm-gridrow name="gridrow33">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn33">
                        <wm-icon name="icon1" iconclass="fa fa-shield fa-2x"></wm-icon>
                        <wm-label name="label9_1" caption="SKU Codes" class="h2" margintop="0.5" marginleft="0.5" marginunit="em"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow25" paddingbottom="1" paddingunit="em">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn28_2">
                        <wm-search name="search1" placeholder="Search SKU Code" dataset="bind:Variables.LicensemanagerdbSkucodeData.dataSet" searchkey="skucode" datafield="skucode" displaylabel="skucode" limit="15"></wm-search>
                        <wm-composite name="composite7_1" show="false">
                            <wm-label class="col-md-3" name="label7_1" caption="Offering Codes"></wm-label>
                            <wm-container class="col-md-9" name="container8_1">
                                <wm-select name="select3" dataset="bind:Variables.LicensemanagerdbOfferingCodesData.dataSet" datafield="id" displayfield="subject" multiple="false"></wm-select>
                            </wm-container>
                        </wm-composite>
                        <wm-composite name="composite8_1" show="false">
                            <wm-label class="col-md-3" name="label8_1" caption="Product Codes"></wm-label>
                            <wm-container class="col-md-9" name="container9">
                                <wm-select name="select4" dataset="bind:Variables.LicensemanagerdbProductCodesData.dataSet" datafield="id" displayfield="subjectDetail"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn29_2" horizontalalign="right">
                        <wm-button class="btn-success" caption="Add New SKU" type="button" name="button1" on-click="dialog1.show" iconclass="fa fa-plus fa-lg"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn colwidth="12" name="gridcolumn10" gridsearch="false">
                        <wm-livegrid name="livegrid3" service="licensemanagerdb@Skucode" formlayout="dialog">
                            <wm-grid showrowindex="true" showrecordcount="true" gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="false" readonlygrid="false" dataset="bind:Variables.LicensemanagerdbSkucodeData.dataSet" name="grid3" spacing="condensed"
                            gridsearch="false" nodatamessage="No SKU Codes Found" confirmdelete="Are you sure you want to delete this SKU Code?" height="auto">
                                <wm-grid-column readonly="false" mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" generator="assigned" primary-key="true" textcolor=""
                                backgroundcolor="" type="string" caption="Skucode" binding="skucode"></wm-grid-column>
                                <wm-grid-column readonly="undefined" mobiledisplay="true" pcdisplay="true" generator="assigned" type="string" caption="Artifactname" binding="artifactname"></wm-grid-column>
                                <wm-grid-column readonly="false" mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" generator="assigned"
                                primary-key="" textcolor="" backgroundcolor="" type="string" caption="Offering Codes" binding="offeringCodes.subject"></wm-grid-column>
                                <wm-grid-column readonly="false" mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" generator="assigned"
                                primary-key="" textcolor="" backgroundcolor="" type="string" caption="Product Codes Subject Detail" binding="productCodes.subjectDetail"></wm-grid-column>
                                <wm-grid-column readonly="false" mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" generator="assigned"
                                primary-key="" textcolor="" backgroundcolor="" type="string" caption="Product Codes Subject" binding="productCodes.subject"></wm-grid-column>
                                <wm-grid-column readonly="false" mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" generator="assigned"
                                primary-key="" textcolor="" backgroundcolor="" type="string" caption="Notes" binding="notes"></wm-grid-column>
                                <wm-grid-column readonly="false" mobiledisplay="true" pcdisplay="true" is-related-pk="false" disable-inline-editing="false" search-placeholder="Search" col-ng-class="" col-class="" generator="assigned"
                                primary-key="" textcolor="" backgroundcolor="" type="string" caption="Url" binding="url"></wm-grid-column>
                                <wm-grid-column readonly="undefined" mobiledisplay="true" pcdisplay="true" generator="assigned" type="string" caption="Item Code" binding="itemCode"></wm-grid-column>
                            </wm-grid>
                            <wm-liveform novalidate="false" title="SKUCode INFO" formlayout="dialog" dataset="bind:Variables.LicensemanagerdbSkucodeData.dataSet" captionalign="left" captionposition="left" name="liveform3">
                                <wm-layoutgrid name="layoutgrid5">
                                    <wm-gridrow name="gridrow27">
                                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn27">
                                            <wm-form-field inputtype="text" regexp=".*" placeholder="Enter value" maxchars="255" widget="text" mobile-display="true" pc-display="true" required="required" is-related="false" type="string" key="skucode" generator="assigned"
                                            primary-key="true" show="true" displayname="Skucode" name="skucode"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn28_1">
                                            <wm-form-field maxchars="255" widget="text" mobile-display="true" pc-display="true" required="required" is-related="false" type="string" key="artifactname" generator="assigned" primary-key="false" show="true" displayname="Artifactname"
                                            name="artifactname"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow28">
                                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn29_1">
                                            <wm-form-field regexp=".*" placeholder="Select value" displayexpression="subject" widget="select" mobile-display="true" pc-display="true" is-related="true" type="list" key="offeringCodes" generator="assigned" primary-key="false"
                                            show="true" displayname="Offering Codes" name="offeringCodes"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow29">
                                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn30_2">
                                            <wm-form-field regexp=".*" placeholder="Select value" displayexpression="subjectDetail" widget="select" mobile-display="true" pc-display="true" is-related="true" type="list" key="productCodes" generator="assigned"
                                            primary-key="false" show="true" displayname="Product Codes" name="productCodes"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow30">
                                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn31">
                                            <wm-form-field inputtype="text" regexp=".*" placeholder="Enter value" maxchars="255" widget="text" mobile-display="true" pc-display="true" is-related="false" type="string" key="notes" generator="assigned" primary-key="false"
                                            show="true" displayname="Notes" name="notes"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow31">
                                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn32_1">
                                            <wm-form-field inputtype="text" regexp=".*" placeholder="Enter value" maxchars="255" widget="text" mobile-display="true" pc-display="true" is-related="false" type="string" key="url" generator="assigned" primary-key="false"
                                            show="true" displayname="Url" name="url"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow1">
                                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                            <wm-form-field placeholder="Enter value" regexp=".*" inputtype="text" maxchars="80" defaultvalue="admin" widget="text" mobile-display="true" pc-display="true" is-related="false" type="string" key="createdBy" generator="assigned"
                                            primary-key="false" show="true" displayname="Created By" name="createdBy"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow2">
                                        <wm-gridcolumn name="gridcolumn2" columnwidth="12">
                                            <wm-form-field outputformat="yyyy-MM-dd" placeholder="Select date" regexp=".*" widget="date" mobile-display="true" pc-display="true" is-related="false" type="date" key="createdDate" generator="assigned" primary-key="false"
                                            show="true" displayname="Created Date" name="createdDate"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow1">
                                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                            <wm-form-field maxchars="255" widget="text" mobile-display="true" pc-display="true" is-related="false" type="string" key="itemCode" generator="assigned" primary-key="false" show="true" displayname="Item Code" name="itemCode"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-action update-mode="true" type="button" action="cancel()" iconclass="glyphicon glyphicon-remove-circle" class="form-cancel btn-secondary" show="true" display-name="Cancel" key="cancel"></wm-form-action>
                                <wm-form-action update-mode="true" type="submit" iconclass="glyphicon glyphicon-save" class="form-save btn-success" show="true" display-name="Save" key="save"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn colwidth="12" name="gridcolumn11" horizontalalign="right"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn colwidth="12" name="gridcolumn13"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn colwidth="12" name="gridcolumn14"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn colwidth="12" name="gridcolumn15"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow10">
                    <wm-gridcolumn colwidth="12" name="gridcolumn16"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow11">
                    <wm-gridcolumn colwidth="12" name="gridcolumn17"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12">
                    <wm-gridcolumn colwidth="12" name="gridcolumn18"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1" show="false">
        <wm-dialog dialogtype="design-dialog" modal="true" name="dialog1">
            <wm-dialogheader caption="New SKU Code" iconclass="glyphicon glyphicon-edit" name="dialogheader1" show="true"></wm-dialogheader>
            <wm-dialogcontent name="dialogcontent1">
                <wm-form class="app-dialog-form" name="form1" paddingbottom="0" marginbottom="0" on-submit="insert_SKU_code">
                    <wm-layoutgrid name="layoutgrid3" columns="2">
                        <wm-gridrow name="gridrow22_1">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn29">
                                <wm-composite name="composite8">
                                    <wm-label class="col-md-3" name="label8" caption="Offering Code" required="true"></wm-label>
                                    <wm-container class="col-md-9" name="container7">
                                        <wm-select name="select1" dataset="bind:Variables.LicensemanagerdbOfferingCodesData.dataSet" datafield="All Fields" displayfield="subject" required="true"></wm-select>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow23_1">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn30_1">
                                <wm-composite name="composite9">
                                    <wm-label class="col-md-3" name="label9" caption="Product Code" required="true"></wm-label>
                                    <wm-container class="col-md-9" name="container8">
                                        <wm-select name="select2" dataset="bind:Variables.LicensemanagerdbProductCodesData.dataSet" datafield="All Fields" displayfield="subjectDetail" required="true"></wm-select>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow20">
                            <wm-gridcolumn colwidth="6" name="gridcolumn26" columnwidth="12">
                                <wm-composite name="composite2">
                                    <wm-label class="col-md-3 h4" name="label2" caption="SKU-Code" required="true" fontweight="bold"></wm-label>
                                    <wm-container class="col-md-2 h4" name="container1" width="3.5em">
                                        <wm-text name="text2" type="text" required="true" fontweight="bold" readonly="true" datavalue="bind:Widgets.select1.datavalue.code+''+Widgets.select2.datavalue.code+'-'" updatedelay="null" regexp=".*"></wm-text>
                                    </wm-container>
                                    <wm-container class="col-md-2 h4" name="container7_1">
                                        <wm-text type="number" required="true" fontweight="bold" width="88" name="text5_1" regexp="^[0-9]{4,4}$" updateon="default" maxchars="null" autocomplete="false"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow21">
                            <wm-gridcolumn colwidth="6" name="gridcolumn28" columnwidth="12">
                                <wm-composite name="composite5">
                                    <wm-label class="col-md-3" name="label5" caption="Artifact Name" required="true"></wm-label>
                                    <wm-container class="col-md-9" name="container4">
                                        <wm-textarea name="textarea1" required="true"></wm-textarea>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow22">
                            <wm-gridcolumn colwidth="6" name="gridcolumn30" columnwidth="12">
                                <wm-composite name="composite6">
                                    <wm-label class="col-md-3" name="label6" caption="Notes" required="false"></wm-label>
                                    <wm-container class="col-md-9" name="container5">
                                        <wm-textarea name="textarea2" required="false"></wm-textarea>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow23">
                            <wm-gridcolumn colwidth="6" name="gridcolumn32" columnwidth="12">
                                <wm-composite name="composite7">
                                    <wm-label class="col-md-3" name="label7" caption="URL"></wm-label>
                                    <wm-container class="col-md-9" name="container6">
                                        <wm-text name="text5"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup2_1" margintop="0.5" marginunit="em">
                        <wm-button caption="Reset" type="reset" class="btn-secondary" name="button7_1"></wm-button>
                        <wm-button caption="Cancel" type="button" class="btn-warning" name="button8_1" on-click="dialog1.hide"></wm-button>
                        <wm-button caption="Save" type="submit" class="btn-primary" name="button9_1"></wm-button>
                    </wm-buttongroup>
                </wm-form>
            </wm-dialogcontent>
            <wm-dialogactions name="dialogactions1" class="form-action" show="false"></wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>