<wm-page data-ng-controller="MainPageController" pagetitle="Main" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid1" columns="1" marginleft="0.6" marginunit="em" marginright="0.6">
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn colwidth="12" name="gridcolumn10">
                        <wm-label name="label1" caption="License Manager" class="h2"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn colwidth="12" name="gridcolumn11">
                        <wm-label name="label2" caption="bind:&quot;License Manager application is used internally to track product licenses issued to customers and to issue new licenses. This portal is also used to keep track of<br> 
    a. Purchase orders received by the Sales team<br>
    b. Invoices sent by the Finance team corresponding to the purchase orders<br>
    c. Licenses issued to customers and their expiry<br>
    d. Customer contact details<br>
    e. SKU codes for product line items&quot;" class="h3" width="889" textalign="left"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow6">
                    <wm-gridcolumn colwidth="12" name="gridcolumn12" paddingtop="2" paddingunit="em"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="1" name="gridcolumn14_1"></wm-gridcolumn>
                    <wm-gridcolumn colwidth="12" name="gridcolumn13" columnwidth="1" horizontalalign="right">
                        <wm-icon name="icon1" iconclass="fa fa-users fa-3x" hint="Customers"></wm-icon>
                        <wm-label name="label3" caption="Customers" display="block"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="1" name="gridcolumn10_1" horizontalalign="center">
                        <wm-icon name="icon2" iconclass="fa fa-arrow-right fa-2x"></wm-icon>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="1" name="gridcolumn11_1" horizontalalign="left">
                        <wm-icon iconclass="fa fa-cubes fa-3x" hint="Customers" name="icon4"></wm-icon>
                        <wm-label caption="Product" display="block" name="label4"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="2" name="gridcolumn15_1"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="1" name="gridcolumn16_1" horizontalalign="right">
                        <wm-icon iconclass="fa fa-truck fa-3x" hint="Customers" name="icon6"></wm-icon>
                        <wm-label caption="Purchase Order" display="block" name="label5"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="1" name="gridcolumn17_1" horizontalalign="center">
                        <wm-icon iconclass="fa fa-mail-forward fa-2x" name="icon13"></wm-icon>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="1" name="gridcolumn18_1">
                        <wm-icon iconclass="fa fa-credit-card fa-3x" hint="Customers" name="icon8"></wm-icon>
                        <wm-label caption="Invoice" display="block" name="label6"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn colwidth="12" name="gridcolumn14" columnwidth="4" paddingtop="4" paddingunit="em"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="2" name="gridcolumn24_1"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn25_1"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn colwidth="12" name="gridcolumn15" columnwidth="1"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="1" name="gridcolumn19" horizontalalign="right">
                        <wm-icon iconclass="fa fa-user fa-3x" hint="Customers" name="icon9"></wm-icon>
                        <wm-label caption="Finance" display="block" name="label7"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="1" name="gridcolumn20" horizontalalign="center">
                        <wm-icon iconclass="fa fa-edit fa-2x" name="icon14"></wm-icon>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="1" name="gridcolumn21">
                        <wm-icon iconclass="fa fa-money fa-3x" hint="Customers" name="icon10"></wm-icon>
                        <wm-label caption="Payment" display="block" name="label8"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="2" name="gridcolumn22"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="1" name="gridcolumn23" horizontalalign="right">
                        <wm-icon iconclass="fa fa-key fa-3x" hint="Customers" name="icon11"></wm-icon>
                        <wm-label caption="License Key" display="block" name="label9"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="1" name="gridcolumn24" horizontalalign="center">
                        <wm-icon iconclass="fa fa-arrow-right fa-2x" name="icon15"></wm-icon>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="1" name="gridcolumn25">
                        <wm-icon iconclass="fa fa-users fa-3x" hint="Customers" name="icon12"></wm-icon>
                        <wm-label caption="Customer" display="block" name="label10"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow10">
                    <wm-gridcolumn colwidth="12" name="gridcolumn16"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow11">
                    <wm-gridcolumn colwidth="12" name="gridcolumn17"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12">
                    <wm-gridcolumn colwidth="12" name="gridcolumn18"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>