<wm-page data-ng-controller="ProductsNewPageController" pagetitle="Products New" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid2_1">
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn17">
                        <wm-icon name="icon1" iconclass="fa fa-cubes fa-2x"></wm-icon>
                        <wm-label name="label1" caption="Products" margintop="0.5" marginleft="0.5" marginunit="em" class="h2"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn39_3">
                        <wm-button class="btn-success pull-right" caption="Add New Product" type="button" name="button1" on-click="dialog1.show" margintop="0.5" marginunit="em" marginbottom="0.5" accessroles="admin" iconclass="fa fa-plus"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn10_1">
                        <wm-livelist listclass="list-group" itemsperrow="6" selectfirstitem="true" readonlygrid="true" class="customerList" name="ProductGrid5" dataset="bind:Variables.LicensemanagerdbProductData.dataSet" show="true">
                            <wm-listtemplate layout="panel" name="listtemplate1">
                                <wm-panel class="panel-default truncate" data-template-ctr="true" showheader="true" name="panel3" title="bind:Variables.LicensemanagerdbProductData.dataSet.data[$i].name" horizontalalign="center" margintop="1" marginright="1"
                                marginbottom="1" marginleft="1" marginunit="em" cursor="pointer">
                                    <wm-picture name="picture2" height="110" width="110" picturesource="bind:Variables.LicensemanagerdbProductData.dataSet.data[$i].imageUrl"></wm-picture>
                                </wm-panel>
                            </wm-listtemplate>
                        </wm-livelist>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn18">
                        <wm-gridcolumn colwidth="12" name="gridcolumn32">
                            <wm-livegrid service="licensemanagerdb@ProductSkucode" formlayout="dialog" name="livegrid3">
                                <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" title="bind:'Product SKU Codes for '+Widgets.ProductGrid5.selecteditem.name" dataset="bind:Widgets.ProductGrid5.selecteditem.productSkucodes"
                                gridsearch="true" marginunit="em" margintop="1" name="grid2" showrecordcount="true" nodatamessage="No SKU Codes found." height="auto" multiselect="false">
                                    <wm-grid-column binding="skucode" caption="Skucode" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false" is-related-pk="false"
                                    pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                    <wm-grid-column binding="product.name" caption="Product Name" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                    is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                    <wm-grid-column binding="licenseType" caption="License Type" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                    is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                    <wm-grid-column binding="description" caption="Description" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                    is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                    <wm-grid-column binding="price" caption="Price" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false" is-related-pk="false"
                                    pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                    <wm-grid-column binding="totalUsers" caption="Total Users" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                    is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                    <wm-grid-column binding="totalNodes" caption="Total Nodes" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                    is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                    <wm-grid-column binding="enabled" caption="Enabled" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                    is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                    <wm-grid-column binding="modifiedBy" caption="Modified By" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                    is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                    <wm-grid-column binding="modifiedDate" caption="Modified Date" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" datepattern="dd MMM yyyy"
                                    formatpattern="toDate" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                    <wm-grid-action key="addNewRow" display-name="New SKU Code" show="true" class="btn-success" iconclass="glyphicon glyphicon-plus" action="addNewRow()" accessroles="admin"></wm-grid-action>
                                </wm-grid>
                                <wm-liveform novalidate="false" title="Details" dataset="bind:Variables.LicensemanagerdbProductSkucodeData.dataSet" formlayout="dialog" defaultmode="View" width="80%" name="liveform3">
                                    <wm-layoutgrid columns="2" name="layoutgrid5">
                                        <wm-gridrow name="gridrow24_1">
                                            <wm-gridcolumn colwidth="6" name="gridcolumn33">
                                                <wm-form-field name="form_field1" displayname="Product" show="true" primary-key="false" generator="assigned" key="product" type="list" is-related="true" required="required" pc-display="true" mobile-display="true"
                                                widget="select" defaultvalue="bind:Widgets.ProductGrid5.selecteditem" regexp=".*" placeholder="Select value" displayexpression="name"></wm-form-field>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn colwidth="6" name="gridcolumn34">
                                                <wm-form-field name="form_field3" displayname="Skucode" show="true" primary-key="true" generator="assigned" key="skucode" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                                widget="select" maxchars="100" regexp=".*" placeholder="Enter value" datafield="skucode" displayfield="skucode" inputtype="text" dataset="bind:Variables.get_product_assoicated_sku_codes.dataSet"></wm-form-field>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow25">
                                            <wm-gridcolumn colwidth="6" name="gridcolumn35">
                                                <wm-form-field name="form_field4" displayname="Price($ USD)" show="true" primary-key="false" generator="assigned" key="price" type="integer" is-related="false" required="required" pc-display="true" mobile-display="true"
                                                widget="number" defaultvalue="0" inputtype="number" regexp=".*" placeholder="Enter value" step="1"></wm-form-field>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn colwidth="6" name="gridcolumn36">
                                                <wm-form-field name="form_field5" displayname="Description" show="true" primary-key="false" generator="assigned" key="description" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                                widget="textarea" maxchars="255" regexp=".*" placeholder="Enter value"></wm-form-field>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow26">
                                            <wm-gridcolumn colwidth="6" name="gridcolumn37">
                                                <wm-form-field name="form_field6" displayname="Total Nodes" show="true" primary-key="false" generator="assigned" key="totalNodes" type="integer" maxvalue="3844" is-related="false" required="required" pc-display="true"
                                                mobile-display="true" widget="number" defaultvalue="null" inputtype="number" placeholder="Enter value" step="1" minvalue="1" regexp=".*"></wm-form-field>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn colwidth="6" name="gridcolumn38">
                                                <wm-form-field name="form_field7" displayname="Total Users" show="true" primary-key="false" generator="assigned" key="totalUsers" type="integer" maxvalue="10000" is-related="false" required="required" pc-display="true"
                                                mobile-display="true" widget="number" defaultvalue="null" inputtype="number" regexp=".*" placeholder="Enter value" step="1" minvalue="1"></wm-form-field>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow27">
                                            <wm-gridcolumn colwidth="6" name="gridcolumn39">
                                                <wm-form-field name="licenseType" displayname="License Type" show="true" primary-key="false" generator="assigned" key="licenseType" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                                widget="select" maxchars="255" regexp=".*" placeholder="Select value" dataset="Evaluation, Time Limited, Annual, Unlimited"></wm-form-field>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn colwidth="6" name="gridcolumn40">
                                                <wm-form-field name="form_field8" displayname="Enabled" show="true" primary-key="false" generator="assigned" key="enabled" type="boolean" is-related="false" pc-display="true" mobile-display="true" widget="checkbox"
                                                defaultvalue="true" regexp=".*"></wm-form-field>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow28">
                                            <wm-gridcolumn colwidth="6" name="gridcolumn41">
                                                <wm-form-field name="totalHits" displayname="Total Hits" show="true" primary-key="false" generator="assigned" key="totalHits" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"
                                                defaultvalue="0" inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn colwidth="6" name="gridcolumn42">
                                                <wm-composite name="composite4">
                                                    <wm-label class="col-md-3" name="label5"></wm-label>
                                                    <wm-container class="col-md-9" name="container4">
                                                        <wm-select name="select3" dataset="bind:Variables.get_product_assoicated_sku_codes.dataSet" datafield="All Fields" displayfield="skucode"></wm-select>
                                                    </wm-container>
                                                </wm-composite>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow28_3">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn39_2"></wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn40_2">
                                                <wm-label name="label6" caption="bind:Widgets.select3.datavalue"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                    <wm-form-field name="createdBy" displayname="Created By" show="false" primary-key="false" generator="assigned" key="createdBy" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="80"
                                    defaultvalue="bind:Variables.loggedInUser.dataSet.name" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    <wm-form-field name="createdDate" displayname="Created Date" show="false" primary-key="false" generator="assigned" key="createdDate" type="date" is-related="false" pc-display="true" mobile-display="true"
                                    widget="date" defaultvalue="bind:Variables.current_date.dataSet.dataValue" regexp=".*" placeholder="Select date" outputformat="yyyy-MM-dd"></wm-form-field>
                                    <wm-form-field name="modifiedBy" displayname="Modified By" show="false" primary-key="false" generator="assigned" key="modifiedBy" type="string" is-related="false" pc-display="true" mobile-display="true"
                                    widget="text" maxchars="80" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                    <wm-form-field name="modifiedDate" displayname="Modified Date" show="false" primary-key="false" generator="assigned" key="modifiedDate" type="date" is-related="false" pc-display="true" mobile-display="true"
                                    widget="date" regexp=".*" placeholder="Select date" outputformat="yyyy-MM-dd"></wm-form-field>
                                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="glyphicon glyphicon-save" type="submit" update-mode="true"></wm-form-action>
                                </wm-liveform>
                            </wm-livegrid>
                        </wm-gridcolumn>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow30_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn45_2">
                        <wm-composite name="composite1" show="false">
                            <wm-label class="col-md-3 h4" name="label2" caption="bind:&quot;Show Versions for &quot;+Widgets.ProductGrid5.selecteditem.name" width="128"></wm-label>
                            <wm-container class="col-md-9" name="container1" width="auto">
                                <wm-switch datavalue="false" name="switch1" dataset="true, false" width="187"></wm-switch>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5_1">
                    <wm-gridcolumn colwidth="12" name="gridcolumn36_1">
                        <wm-livegrid service="licensemanagerdb@ProductVersion" formlayout="dialog" name="livegrid3_1" show="bind:Widgets.switch1.datavalue">
                            <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" title="bind:'Product Versions for '+Widgets.ProductGrid5.selecteditem.name" dataset="bind:Widgets.ProductGrid5.selecteditem.productVersions"
                            gridsearch="true" borderunit="px" marginunit="em" name="grid2_1" show="bind:Widgets.switch1.datavalue">
                                <wm-grid-column binding="imageUrl" caption="" type="string" widget-type="image" width="64px" textalignment="center" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"><img data-ng-src="{{row.getProperty('imageUrl')}}" alt="{{row.getProperty('imageUrl')}}" class="" data-ng-class="" height="" width="20px">
                                </wm-grid-column>
                                <wm-grid-column binding="product.name" caption="Name" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false" is-related-pk="false"
                                pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="product.description" caption="Description" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="releaseVersion" caption="Version" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="releaseDate" caption="Release Date" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="product.createdBy" caption="Created By" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="product.imageUrl" caption="Image Url" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="product.modifiedBy" caption="Modified By" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="product.createdDate" caption="Created Date" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" datepattern="dd MMM yyyy"
                                formatpattern="toDate" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-column binding="product.modifiedDate" caption="Modified Date" type="string" backgroundcolor="" textcolor="" primary-key="" col-class="" col-ng-class="" search-placeholder="Search" datepattern="dd MMM yyyy"
                                formatpattern="toDate" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                <wm-grid-action key="addNewRow" display-name="Add New Version" show="true" class="btn-success" iconclass="glyphicon glyphicon-plus" action="addNewRow()" accessroles="admin"></wm-grid-action>
                            </wm-grid>
                            <wm-liveform novalidate="false" title="Details" dataset="bind:Variables.LicensemanagerdbProductVersionData.dataSet" formlayout="dialog" defaultmode="View" name="liveform3_1" on-success="LicensemanagerdbProductData">
                                <wm-layoutgrid name="layoutgrid5_1">
                                    <wm-gridrow name="gridrow22">
                                        <wm-gridcolumn show="hide" columnwidth="12" name="gridcolumn37_1"></wm-gridcolumn>
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn38_1">
                                            <wm-form-field display-name="Product" show="true" primary-key="false" generator="assigned" key="product" type="list" is-related="true" readonly="false" required="true" pc-display="true" mobile-display="true" default-value="bind:Widgets.ProductGrid5.selecteditem"
                                            widget="select" multiple="false" regexp=".*" placeholder="Select value" displayvalue="name" name="form_field16"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow23">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn39_1">
                                            <wm-form-field display-name="Release Version" show="true" primary-key="false" generator="assigned" key="releaseVersion" type="string" maxvalue="25" is-related="false" readonly="false" required="false" pc-display="true"
                                            mobile-display="true" widget="text" multiple="false" inputtype="text" regexp=".*" placeholder="Enter value" name="form_field17"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow24">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn40_1">
                                            <wm-form-field display-name="Release Date" show="true" primary-key="false" generator="assigned" key="releaseDate" type="date" is-related="false" readonly="false" required="false" pc-display="true" mobile-display="true"
                                            widget="date" multiple="false" regexp=".*" placeholder="Select date" outputformat="yyyy-MM-dd" name="form_field18_1"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow25_1">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn41_1">
                                            <wm-form-field display-name="Image Url" show="true" primary-key="false" generator="assigned" key="imageUrl" type="string" maxvalue="1024" is-related="false" readonly="false" required="false" pc-display="true" mobile-display="true"
                                            widget="text" multiple="false" inputtype="text" regexp=".*" placeholder="Enter value" name="form_field19_1"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow26_1">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn42_1"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow27_2">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn43_1"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow28_2">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn44_1"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow29_2">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn45_1"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-field display-name="Version Id" show="false" primary-key="true" generator="identity" key="versionId" type="integer" is-related="false" readonly="true" required="true" pc-display="true" mobile-display="true" widget="number"
                                multiple="false" inputtype="number" regexp=".*" placeholder="Enter value" step="1" name="form_field20_1"></wm-form-field>
                                <wm-form-field display-name="Created Date" show="false" primary-key="false" generator="assigned" key="createdDate" type="date" is-related="false" readonly="false" required="false" pc-display="true" mobile-display="true"
                                default-value="bind:Variables.current_date.dataSet.dataValue" name="form_field21_1"></wm-form-field>
                                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="glyphicon glyphicon-save" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow6_1">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn14"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn15"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn16"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view2" show="false">
        <wm-dialog dialogtype="design-dialog" modal="true" name="dialog1">
            <wm-dialogheader caption="Product Details" iconclass="glyphicon glyphicon-edit" name="dialogheader1"></wm-dialogheader>
            <wm-dialogcontent name="dialogcontent1">
                <wm-gridrow name="gridrow27_1">
                    <wm-gridcolumn colwidth="12" borderstyle="none" bordercolor="#000000" name="gridcolumn45">
                        <wm-livegrid service="licensemanagerdb@Product" formlayout="inline" name="livegrid4">
                            <wm-liveform novalidate="false" dataset="bind:Variables.LicensemanagerdbProductData.dataSet" formlayout="inline" name="liveform4" defaultmode="Edit" on-success="dialog1.hide;LicensemanagerdbProductData">
                                <wm-layoutgrid name="layoutgrid6">
                                    <wm-gridrow name="gridrow28_1">
                                        <wm-gridcolumn show="hide" columnwidth="12" name="gridcolumn46"></wm-gridcolumn>
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn47">
                                            <wm-form-field display-name="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" maxvalue="100" is-related="false" readonly="false" required="true" pc-display="true" mobile-display="true"
                                            widget="text" multiple="false" inputtype="text" regexp=".*" placeholder="Enter Product Name" name="form_field15"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow29_1">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn48">
                                            <wm-form-field display-name="Description" show="true" primary-key="false" generator="assigned" key="description" type="string" maxvalue="255" is-related="false" readonly="false" required="true" pc-display="true"
                                            mobile-display="true" widget="textarea" multiple="false" inputtype="text" regexp=".*" placeholder="Enter Descritpion" name="form_field16_1"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow30">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn49">
                                            <wm-form-field display-name="Image Url" show="true" primary-key="false" generator="assigned" key="imageUrl" type="string" maxvalue="255" is-related="false" readonly="false" required="false" pc-display="true" mobile-display="true"
                                            widget="text" multiple="false" inputtype="text" regexp=".*" placeholder="Product Logo URL" name="form_field17_1"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow31">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn50">
                                            <wm-form-field display-name="Created By" show="true" primary-key="false" generator="assigned" key="createdBy" type="string" maxvalue="80" is-related="false" readonly="true" required="true" pc-display="true" mobile-display="true"
                                            widget="text" multiple="false" inputtype="text" regexp=".*" placeholder="Enter value" default-value="bind:Variables.loggedInUser.dataSet.name" name="form_field18"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow32">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn51"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow33">
                                        <wm-gridcolumn show="show" columnwidth="12" name="gridcolumn52"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-field display-name="Product Id" show="false" primary-key="true" generator="identity" key="productId" type="integer" is-related="false" readonly="true" required="true" pc-display="true" mobile-display="true" widget="number"
                                multiple="false" inputtype="number" regexp=".*" placeholder="Enter value" step="1" name="form_field19"></wm-form-field>
                                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="glyphicon glyphicon-save" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-dialogcontent>
            <wm-dialogactions name="dialogactions1" show="false">
                <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button2"></wm-button>
                <wm-button class="btn-primary" caption="Save" name="button3"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>