<wm-page data-ng-controller="ManagePageController" pagetitle="Manage" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid1" columns="1">
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn colwidth="12" name="gridcolumn10">
                        <wm-label name="label1" caption="Admin Panel" class="h2" fontweight="bold"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn colwidth="12" name="gridcolumn11">
                        <wm-tabs name="tabs1" tabsposition="top">
                            <wm-tabpane name="tabpane1">
                                <wm-tabheader name="tabheader1" heading="Users"></wm-tabheader>
                                <wm-tabcontent name="tabcontent1">
                                    <wm-livegrid service="licensemanagerdb@Users" name="UsersLivegrid4" formlayout="dialog">
                                        <wm-grid dataset="bind:Variables.LicensemanagerdbUsersData.dataSet" title="Users" name="UsersGrid4" deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" radioselect="false"
                                        multiselect="false">
                                            <wm-grid-column binding="userId" caption="User Id" type="integer" backgroundcolor="" textcolor="" primary-key="true" generator="identity" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                            is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="role" caption="Role" type="string" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="username" caption="Username" type="string" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="glyphicon glyphicon-plus" action="addNewRow()"></wm-grid-action>
                                        </wm-grid>
                                        <wm-liveform formlayout="dialog" dataset="bind:Variables.LicensemanagerdbUsersData.dataSet" name="UsersLiveform4" novalidate="false" title="Details">
                                            <wm-layoutgrid name="layoutgrid1">
                                                <wm-gridrow name="gridrow1">
                                                    <wm-gridcolumn show="hide" name="gridcolumn1" columnwidth="12"></wm-gridcolumn>
                                                    <wm-gridcolumn show="show" name="gridcolumn2" columnwidth="12">
                                                        <wm-form-field name="username" displayname="Username" show="true" primary-key="false" generator="assigned" key="username" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                                        maxchars="80" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow2">
                                                    <wm-gridcolumn show="show" name="gridcolumn3" columnwidth="12">
                                                        <wm-form-field name="password" displayname="Password" show="true" primary-key="false" generator="assigned" key="password" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                                        maxchars="25" inputtype="password" regexp=".*" placeholder="Enter value"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow3">
                                                    <wm-gridcolumn show="show" name="gridcolumn4" columnwidth="12">
                                                        <wm-form-field name="role" displayname="Role" show="true" primary-key="false" generator="assigned" key="role" type="string" is-related="false" pc-display="true" mobile-display="true" widget="select"
                                                        maxchars="40" inputtype="text" regexp=".*" placeholder="Enter value" dataset="bind:Variables.roles.dataSet" datafield="dataValue" displayfield="dataValue"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                            <wm-form-field name="userId" displayname="User Id" show="false" primary-key="true" generator="identity" key="userId" type="integer" is-related="false" required="required" pc-display="true" mobile-display="true"
                                            widget="number" inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" type="button" update-mode="true"></wm-form-action>
                                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="glyphicon glyphicon-save" type="submit" update-mode="true"></wm-form-action>
                                        </wm-liveform>
                                    </wm-livegrid>
                                </wm-tabcontent>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane2">
                                <wm-tabheader name="tabheader2" heading="Wmiid Sequence"></wm-tabheader>
                                <wm-tabcontent name="tabcontent2">
                                    <wm-livegrid name="SequenceLivegrid3" service="licensemanagerdb@Sequence" formlayout="dialog">
                                        <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" name="SequenceGrid3" title="Sequence" dataset="bind:Variables.LicensemanagerdbSequenceData.dataSet">
                                            <wm-grid-column binding="id" caption="Id" type="integer" primary-key="true" generator="identity" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                            <wm-grid-column binding="wmiidCount" caption="Wmiid Count" type="integer" primary-key="false" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="evalCount" caption="Eval Count" type="integer" primary-key="false" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                        </wm-grid>
                                        <wm-liveform novalidate="false" title="Details" name="SequenceLiveform3" dataset="bind:Variables.LicensemanagerdbSequenceData.dataSet" formlayout="dialog">
                                            <wm-layoutgrid name="layoutgrid1">
                                                <wm-gridrow name="gridrow1">
                                                    <wm-gridcolumn show="hide" name="gridcolumn1" columnwidth="12">
                                                        <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" is-related="false" readonly="readonly" required="required" pc-display="true" mobile-display="true"
                                                        widget="number"></wm-form-field>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn show="show" name="gridcolumn2" columnwidth="12">
                                                        <wm-form-field name="wmiidCount" displayname="Wmiid Count" show="true" primary-key="false" generator="assigned" key="wmiidCount" type="integer" is-related="false" required="required" pc-display="true"
                                                        mobile-display="true" widget="number" defaultvalue="0"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow2">
                                                    <wm-gridcolumn show="show" name="gridcolumn3" columnwidth="12">
                                                        <wm-form-field name="evalCount" displayname="Eval Count" show="true" primary-key="false" generator="assigned" key="evalCount" type="integer" is-related="false" required="required" pc-display="true" mobile-display="true"
                                                        widget="number" defaultvalue="0"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                            <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                                            <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                                        </wm-liveform>
                                    </wm-livegrid>
                                </wm-tabcontent>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane3">
                                <wm-tabheader name="tabheader3" heading="PO Line Items"></wm-tabheader>
                                <wm-tabcontent name="tabcontent3">
                                    <wm-livegrid name="PolineItemLivegrid3" service="licensemanagerdb@PolineItem" formlayout="dialog">
                                        <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" name="PolineItemGrid3" title="PolineItem" dataset="bind:Variables.LicensemanagerdbPolineItemData.dataSet" showrecordcount="true"
                                        gridsearch="true">
                                            <wm-grid-column binding="poLineId" caption="Po Line Id" type="string" backgroundcolor="" textcolor="" primary-key="true" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                            is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="createdBy" caption="Created By" type="string" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="createdDate" caption="Created Date" type="date" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd"
                                            datepattern="yyyy-MM-dd" formatpattern="toDate" disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="quantity" caption="Quantity" type="integer" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="totalPrice" caption="Total Price" type="integer" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="description" caption="Description" type="string" backgroundcolor="" textcolor="" primary-key="false" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="wmRefNum" caption="Wm Ref Num" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="undefined"></wm-grid-column>
                                            <wm-grid-action key="addNewRow" display-name="New" iconclass="glyphicon glyphicon-plus" show="true" class="btn-primary" action="addNewRow()"></wm-grid-action>
                                        </wm-grid>
                                        <wm-liveform novalidate="false" title="Details" name="PolineItemLiveform3" dataset="bind:Variables.LicensemanagerdbPolineItemData.dataSet" formlayout="dialog">
                                            <wm-layoutgrid name="layoutgrid2">
                                                <wm-gridrow name="gridrow4">
                                                    <wm-gridcolumn show="show" name="gridcolumn4" columnwidth="12">
                                                        <wm-form-field name="po" displayname="Po" show="true" primary-key="false" generator="assigned" key="po" type="list" is-related="true" required="required" pc-display="true" mobile-display="true" widget="select"
                                                        maxchars="100"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow5">
                                                    <wm-gridcolumn show="show" name="gridcolumn5" columnwidth="12">
                                                        <wm-form-field name="productSkucode" displayname="Product Skucode" show="true" primary-key="false" generator="assigned" key="productSkucode" type="list" is-related="true" required="required" pc-display="true"
                                                        mobile-display="true" widget="select" maxchars="25"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow6">
                                                    <wm-gridcolumn show="show" name="gridcolumn6" columnwidth="12">
                                                        <wm-form-field name="customerInvoices" displayname="Customer Invoices" show="true" primary-key="false" generator="assigned" key="customerInvoices" type="list" is-related="true" pc-display="true" mobile-display="true"
                                                        widget="select" maxchars="255"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow7">
                                                    <wm-gridcolumn show="show" name="gridcolumn7" columnwidth="12">
                                                        <wm-form-field name="poLineId" displayname="Po Line Id" show="true" primary-key="true" generator="assigned" key="poLineId" type="string" is-related="false" required="required" pc-display="true" mobile-display="true"
                                                        widget="text" maxchars="255"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow8">
                                                    <wm-gridcolumn show="show" name="gridcolumn8" columnwidth="12">
                                                        <wm-form-field name="createdBy" displayname="Created By" show="true" primary-key="false" generator="assigned" key="createdBy" type="string" is-related="false" pc-display="true" mobile-display="true"
                                                        widget="text" maxchars="80"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow9">
                                                    <wm-gridcolumn show="show" name="gridcolumn9" columnwidth="12">
                                                        <wm-form-field name="createdDate" displayname="Created Date" show="true" primary-key="false" generator="assigned" key="createdDate" type="date" is-related="false" pc-display="true" mobile-display="true"
                                                        widget="date"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow10">
                                                    <wm-gridcolumn show="show" name="gridcolumn10" columnwidth="12">
                                                        <wm-form-field name="modifiedBy" displayname="Modified By" show="true" primary-key="false" generator="assigned" key="modifiedBy" type="string" is-related="false" pc-display="true" mobile-display="true"
                                                        widget="text" maxchars="80"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow11">
                                                    <wm-gridcolumn show="show" name="gridcolumn11" columnwidth="12">
                                                        <wm-form-field name="modifiedDate" displayname="Modified Date" show="true" primary-key="false" generator="assigned" key="modifiedDate" type="date" is-related="false" pc-display="true" mobile-display="true"
                                                        widget="date"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow12">
                                                    <wm-gridcolumn show="show" name="gridcolumn12" columnwidth="12">
                                                        <wm-form-field name="quantity" displayname="Quantity" show="true" primary-key="false" generator="assigned" key="quantity" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"
                                                        defaultvalue="0"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow13">
                                                    <wm-gridcolumn show="show" name="gridcolumn13" columnwidth="12">
                                                        <wm-form-field name="totalPrice" displayname="Total Price" show="true" primary-key="false" generator="assigned" key="totalPrice" type="integer" is-related="false" pc-display="true" mobile-display="true"
                                                        widget="number" defaultvalue="0"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow14">
                                                    <wm-gridcolumn show="show" name="gridcolumn14" columnwidth="12">
                                                        <wm-form-field name="description" displayname="Description" show="true" primary-key="false" generator="assigned" key="description" type="string" is-related="false" pc-display="true" mobile-display="true"
                                                        widget="text" maxchars="255"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow15">
                                                    <wm-gridcolumn show="show" name="gridcolumn15" columnwidth="12">
                                                        <wm-form-field name="startDate" displayname="Start Date" show="true" primary-key="false" generator="assigned" key="startDate" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow16">
                                                    <wm-gridcolumn show="show" name="gridcolumn16" columnwidth="12">
                                                        <wm-form-field name="endDate" displayname="End Date" show="true" primary-key="false" generator="assigned" key="endDate" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow17">
                                                    <wm-gridcolumn show="show" name="gridcolumn17" columnwidth="12">
                                                        <wm-form-field name="wmRefNum" displayname="Wm Ref Num" show="true" primary-key="false" generator="assigned" key="wmRefNum" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text"
                                                        maxchars="255"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                            <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                                            <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                                        </wm-liveform>
                                    </wm-livegrid>
                                </wm-tabcontent>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane4">
                                <wm-tabheader name="tabheader4" heading="Products"></wm-tabheader>
                                <wm-tabcontent name="tabcontent4">
                                    <wm-livegrid name="livegrid4" service="licensemanagerdb@Product" formlayout="dialog">
                                        <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="Product LIST" dataset="bind:Variables.LicensemanagerdbProductData.dataSet" name="grid4" gridsearch="true"
                                        showrecordcount="true">
                                            <wm-grid-column binding="productId" caption="Product Id" type="integer" backgroundcolor="" textcolor="" primary-key="true" generator="identity" readonly="true" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                            <wm-grid-column binding="name" caption="Name" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="false"
                                            is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="description" caption="Description" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="productCode" caption="Product Code" type="integer" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="createdBy" caption="Created By" type="string" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Search"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-column binding="createdDate" caption="Created Date" type="date" backgroundcolor="" textcolor="" primary-key="" generator="assigned" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd"
                                            disable-inline-editing="false" is-related-pk="false" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                                            <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="glyphicon glyphicon-plus" action="addNewRow()"></wm-grid-action>
                                        </wm-grid>
                                        <wm-liveform novalidate="false" title="Product INFO" formlayout="dialog" dataset="bind:Variables.LicensemanagerdbProductData.dataSet" captionalign="left" captionposition="left" name="liveform4">
                                            <wm-layoutgrid name="layoutgrid5">
                                                <wm-gridrow name="gridrow30">
                                                    <wm-gridcolumn columnwidth="12" show="hide" name="gridcolumn32">
                                                        <wm-form-field name="productId" displayname="Product Id" required="true" show="false" generator="identity" primary-key="true" key="productId" type="integer" is-related="false" pc-display="true" mobile-display="true"
                                                        widget="number"></wm-form-field>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn33">
                                                        <wm-form-field name="createdBy" displayname="Created By" required="false" show="true" generator="assigned" primary-key="false" key="createdBy" type="string" is-related="false" maxchars="80" pc-display="true"
                                                        mobile-display="true" widget="text"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow31">
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn34">
                                                        <wm-form-field name="createdDate" displayname="Created Date" required="false" show="true" generator="assigned" primary-key="false" key="createdDate" type="date" is-related="false" pc-display="true" mobile-display="true"
                                                        widget="date"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow32">
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn35">
                                                        <wm-form-field name="modifiedBy" displayname="Modified By" required="false" show="true" generator="assigned" primary-key="false" key="modifiedBy" type="string" is-related="false" maxchars="80" pc-display="true"
                                                        mobile-display="true" widget="text"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow33">
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn36">
                                                        <wm-form-field name="modifiedDate" displayname="Modified Date" required="false" show="true" generator="assigned" primary-key="false" key="modifiedDate" type="date" is-related="false" pc-display="true"
                                                        mobile-display="true" widget="date"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow34">
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn37">
                                                        <wm-form-field name="description" displayname="Description" required="false" show="true" generator="assigned" primary-key="false" key="description" type="string" is-related="false" maxchars="255" pc-display="true"
                                                        mobile-display="true" widget="text"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow35">
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn38">
                                                        <wm-form-field name="name" displayname="Name" required="false" show="true" generator="assigned" primary-key="false" key="name" type="string" is-related="false" maxchars="100" pc-display="true" mobile-display="true"
                                                        widget="text"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow36">
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn39">
                                                        <wm-form-field name="imageUrl" displayname="Image Url" required="false" show="true" generator="assigned" primary-key="false" key="imageUrl" type="string" is-related="false" maxchars="255" pc-display="true"
                                                        mobile-display="true" widget="text"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow37">
                                                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn40">
                                                        <wm-form-field name="productCode" displayname="Product Code" required="false" show="true" generator="assigned" primary-key="false" key="productCode" type="integer" is-related="false" pc-display="true"
                                                        mobile-display="true" widget="number"></wm-form-field>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow38"></wm-gridrow>
                                            </wm-layoutgrid>
                                            <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                                            <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                                        </wm-liveform>
                                    </wm-livegrid>
                                </wm-tabcontent>
                            </wm-tabpane>
                        </wm-tabs>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow6">
                    <wm-gridcolumn colwidth="12" name="gridcolumn12"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn colwidth="12" name="gridcolumn13"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn colwidth="12" name="gridcolumn14"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn colwidth="12" name="gridcolumn15"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow10">
                    <wm-gridcolumn colwidth="12" name="gridcolumn16"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow11">
                    <wm-gridcolumn colwidth="12" name="gridcolumn17"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12">
                    <wm-gridcolumn colwidth="12" name="gridcolumn18"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow21">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn24"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>